[2012-02-04 17:32] evilpacket opened #1 "Implement x-content-type-options?"
Look into implementing x-content-type-options

http://blogs.msdn.com/b/ie/archive/2010/10/26/mime-handling-changes-in-internet-explorer.aspx

[2012-06-27 15:28] #1 closed, assigned to nobody

[2013-03-14 01:07] jaxon opened #5 "[xframe.js:12] TypeError: Cannot call method 'toUpperCase' of undefined"
Got this error after update from 0.0.7 to 0.0.8:

[code]

Reverting back to 0.0.7 resolved the issue.

More complete log:

[code]

[2013-03-14 01:33] #5 closed, assigned to nobody

[2013-06-20 09:14] ghost opened #7 "X-Webkit-CSP deprecated"
I get this message with Chrome:

The 'X-WebKit-CSP' headers are deprecated; please consider using the canonical 'Content-Security-Policy' header instead.

[2013-06-23 19:54] ghost opened #8 "Problem with iPad Safari and https ?"
In my app, I have the following policy:

helmet.csp.policy
  defaultPolicy:
    "img-src"    : ['*']
    "style-src"  : ["'self'", "'unsafe-inline'", "fonts.googleapis.com"]
    "script-src" : ["'self'", "cdnjs.cloudflare.com", "login.persona.org", "ajax.googleapis.com", "www.google-analytics.com"]

This works well for all OS/browser combinations I'm testing, except for mobile Safari on the iPad w

[2013-06-23 20:19] #8 closed, assigned to nobody

[2013-07-23 17:33] jbuck opened #10 "helmet.hsts() doesn't send correctly formed max-age directive"
When sending the `Strict-Transport-Security` header, helmet sets the max-age directive to `maxAge=15768000`. According to the spec it should be `max-age=15768000`: http://tools.ietf.org/html/rfc6797#section-6.1.1

[2013-09-09 16:41] EvanHahn opened #12 "Handle bad input"
Let's say I did something like this:

[code]

That's a mistake -- it should be `'sameorigin'`. At the moment, that mistake will be as if I typed `DENY`.

Should an error be thrown in that case? I think so, but it's debatable.

I know error checking isn't a JavaScript idiom, but I think this could be very helpful.

[2013-09-09 17:08] EvanHahn opened #13 "Make helmets.defaults into middleware?"
Any reason why `helmets.defaults` isn't middleware?

[2013-10-01 18:52] EvanHahn opened #18 "Helmet only works with Express, not Connect"
Should just be a matter of calling `res.setHeader` instead of `res.header`.

[2013-11-04 22:12] yoshuawuyts opened #22 "Security.MD"
I saw your talk, just curious why it isn't in this project.

[2013-11-05 01:25] #22 closed, assigned to nobody

[2013-11-05 01:26] #12 closed, assigned to nobody

[2013-11-28 08:05] #10 closed, assigned to nobody

[2013-11-28 08:51] #7 closed, assigned to nobody

[2013-11-28 09:26] EvanHahn opened #23 "Add tests for CSP"

[2013-11-28 09:26] EvanHahn opened #24 "Add tests for HSTS"

[2013-12-09 19:25] 3rd-Eden opened #26 "IE XSS filter can be used for XSS attacks instead of preventing it."
There used to a bug in the XSS filters in Internet Explorer which actually enabled XSS attacks instead of preventing it. Making sites which would normally be safe vulnerable for attacks.

So helmet could actually make sites more vulnerable instead of protecting them. The simplest solution would be disabling the filter for IE8 as this fix was most certainly landed in IE9 > as I doubt it can be dete

[2014-01-24 01:47] binarykitchen opened #27 "Deprecated Warning"
Hi there

In Firebug I see this:

[code]

Why?

[2014-01-24 01:54] binarykitchen opened #28 "Unsafe-Eval listed but still blocked"
I have these policies:

[code]

but still, Firefox complains with:

---

Content Security Policy: The page's settings blocked the loading of a resource: An attempt to call JavaScript from a string (by calling a function like eval) has been blocked

call to eval() or related function blocked by CSP

---

Huh? I am allowing unsafe-evals here. Can anyone explain?

[2014-01-28 19:54] natevw opened #30 "Send IE headers only on User-Agent match?"
Wondering what people's thoughts are on checking the user agent in some of the IE-specific options to avoid "header clutter"?

Downsides I see are:
- misses users who've misconfigured their UA string
- we miss out until we update should other browsers gain support (e.g. the discussion on #26 seems to indicate this happens)

Upsides is just keeping the headers minimal, which probably only mildly OC

[2014-03-03 03:28] #24 closed, assigned to nobody

[2014-03-27 06:26] hb9cwp opened #31 "How about a version bump and push to npm?"
npmjs.org has v0.1.2 which is quite outdated, and does not work in Connect.js without patches. Also, the CSP headers etc. have been updated, for ex. Chrome browsers now get actionable headers (not X-...).

[2014-03-27 15:04] #27 closed, assigned to nobody

[2014-03-28 19:29] #23 closed, assigned to nobody

[2014-03-28 19:44] #30 closed, assigned to nobody

[2014-03-28 19:47] #13 closed, assigned to nobody

[2014-03-28 19:48] #18 closed, assigned to nobody

[2014-03-28 20:59] #26 closed, assigned to nobody

[2014-03-28 21:04] EvanHahn opened #32 "Throw an error for CSP if reportOnly is true without a report-uri"
This should throw an error:

[code]

[2014-03-28 21:30] #32 closed, assigned to nobody

[2014-03-28 21:31] EvanHahn opened #33 "Test IE-specific CSP"

[2014-03-28 21:31] EvanHahn opened #34 "Test Safari CSP"

[2014-03-28 21:32] EvanHahn opened #35 "Test Chrome Mobile CSP"

[2014-03-28 21:32] EvanHahn opened #36 "Test Chrome CSP"

[2014-03-28 21:37] EvanHahn opened #37 "Security audit csp.reporter"
I think it has vulnerabilities...

[2014-03-28 21:48] #37 closed, assigned to nobody

[2014-03-28 22:19] #34 closed, assigned to nobody

[2014-03-28 22:19] #36 closed, assigned to nobody

[2014-03-29 14:30] hb9cwp opened #38 "HSTS never inserted with Connect.js middleware"
Connect 3.0.x has no attribute .secure, e.g. `req.secure` is undefined. Thus
`if (req.secure || req.headers['x-forwarded-proto'] == 'https') {` in `hsts.js` evaluates always false and no HSTS header is ever added.

Looking through RFC6797, I am unsure if we could simply drop this test altogether, as browsers appear to ignore HSTS when there is no secure connection?

[2014-03-30 05:25] memolog opened #39 "npm package looks old"
Hello,

I installed the helmet library with the following command

[code]

However, I seemed to get the previous version of helmet (version 0.1.3), and it didn't work for me. The latest one might be 0.2.0, so I guess npm package is still old.

Could you update/publish the latest to npm?

I installed latest in the following, and it works fine.

[code]

Kind Regards,

[2014-03-30 14:54] imrefazekas opened #40 "helmet with connect (not express)"
Hello,

I added helmet to my connect-based app and having an issue with it:

[code]

My configuration:

[code]

Any help is much appreciated.

[2014-03-30 16:57] #40 closed, assigned to nobody

[2014-03-30 18:20] #39 closed, assigned to nobody

[2014-03-31 16:14] #31 closed, assigned to nobody

[2014-04-11 20:31] dlopuch opened #41 "CSP mw throws TypeError on Firefox < v23 with specific CSP config"
STEPS TO REPRODUCE:
- Use CSP middleware with any of the optional `reportOnly`, `setAllHeaders`, or `safari5` config options
- Hit the page on older Firefox, specifically version < 23

RESULTS:
- Get a TypeError:

[code]

Problem is that this line:
https://github.com/evilpacket/helmet/blob/master/lib/middleware/csp.js#L108

iterates over the config options then sets special headers if different th

[2014-04-13 16:32] #41 closed, assigned to nobody

[2014-04-15 15:22] #28 closed, assigned to nobody

[2014-04-25 03:39] ibash opened #42 "Impossible to disable sandbox for CSP header in IE"
Steps:
Use the CSP middleware like this: `app.use(helmet.csp({}));`
Open the page with IE10 and check headers

Expected:
No content security policy headers

Actual:
![screen shot 2014-04-24 at 8 35 34 pm](https://cloud.githubusercontent.com/assets/204566/2797374/b91be67c-cc2a-11e3-837f-3e6b3a2f5ccc.png)

This line of code is at fault -- why is it there?: https://github.com/evilpacket/helmet/blob/a

[2014-05-14 17:56] jlchereau opened #43 "Discussion: How would you recommend configuring Helmet for a RESTful JSON API (sessionless) secured by oAuth bearer tokens?"
I am endeavouring to put together a comprehensive CRUD prototype which you can find at https://github.com/jlchereau/Phonegap.Express.

I am not a security expert but I have been recommended to add Helmet to the stack.

How would you recommend configuring Helmet for a RESTful JSON API (sessionless) secured by oAuth bearer tokens?

[2014-05-16 15:54] #43 closed, assigned to nobody

[2014-06-01 22:59] #33 closed, assigned to nobody

[2014-06-01 23:00] #42 closed, assigned to nobody

[2014-06-02 03:56] baconmania opened #47 "Rules are modified without being cloned, permanently mutating `options` object"
The problem is in these two lines:
https://github.com/evilpacket/helmet/blob/master/lib/middleware/csp.js#L129
https://github.com/evilpacket/helmet/blob/master/lib/middleware/csp.js#L137

At both of those lines, `policy[key]` points to `options[key]` by reference. This modifies `options` for all future requests, and is not the desired behavior.

[2014-06-02 05:22] #47 closed, assigned to nobody

[2014-06-04 19:26] EvanHahn opened #50 "Consider incorporating/endorsing express-enforces-ssl"
The [express-enforces-ssl](https://github.com/aredo/express-enforces-ssl) module does a 301 redirect for HTTP connections to HTTPS connections. Maybe we should incorporate it or mention it in the README.

[2014-06-10 18:37] gsitu322 opened #51 "Chrome CSP"
Hi I'm having some problem with Chrome's CSP reporting. Here's the problem.

http://stackoverflow.com/questions/24067612/chrome-content-security-policy-reporting-csp-reporting-is-not-reporting

The request is failing. However for Firefox the reporting is good and I receive a 200. Wondering if the headers for chrome are not correct?

[2014-06-10 23:58] #51 closed, assigned to nobody

[2014-06-11 20:10] EvanHahn opened #53 "Consider making better CSP keys for options"
What if you could set your CSP like this:

[code]

Would this be a welcome feature?

[2014-06-13 15:11] linus-amg opened #54 "helmet.defaults(app, { cacheControl: false });"
that does not make a difference to caching behaviour, neither before nor after
app.use(helmet.defaults());
i would like to include the defaults but i want caching to be enabled, removing the helmet.defaults() caching behaviour is like expected, maybe im implementing wrong? but i could not find a better explanation in the documentation.

[2014-06-13 15:20] #54 closed, assigned to nobody

[2014-06-24 06:47] panpansh opened #55 "X-Powered-By GET /favicon.ico"
Because I'm using chrome, this browser want to get the favicon.ico by a second GET. And this GET header containing X-Powered-By: Express.

[2014-06-24 18:28] #53 closed, assigned to nobody

[2014-06-24 18:31] #38 closed, assigned to nobody

[2014-06-24 22:49] #55 closed, assigned to nobody

[2014-06-27 06:47] #50 closed, assigned to nobody

[2014-06-28 04:01] dstroot opened #57 "post to reportUri: ['/report-violation'] with csrf enabled??"
I get 403's now of course.   Any ideas or is this just not possible?

[2014-06-30 17:58] EvanHahn opened #58 "Add some CSP pre-configured options"
Something like this might be cool:

[code]

I'd love some way to _add_ these to policies, rather than overwrite them. Ideas?

[2014-06-30 18:03] EvanHahn opened #59 "Add/recommend rate-limiting middleware"
I'd love this:

[code]

Could be included by default.

[2014-06-30 18:04] EvanHahn opened #60 "Add CORS middleware"
Probably disabled or does nothing by default, but you could open up some CORS stuff.

[2014-07-02 20:53] #57 closed, assigned to nobody

[2014-07-13 07:32] #60 closed, assigned to nobody

[2014-08-02 15:00] EvanHahn opened #64 "Add cross domain meta policy"
https://securityheaders.com/cross-domain-meta-policy.php

[2014-08-03 01:12] EvanHahn opened #65 "Fix CSP + CSRF docs"
Thanks for noticing, @fkammer!

[2014-08-11 15:38] kokujin opened #66 "CSP config problem with Google fonts"
I have my font-src configured as follows:

HTML:

[code]

Helmet:

[code]

but I am getting this error in the console:

[code]

Can someone tell me what I am doing wrong? Thanks

[2014-08-11 17:22] #66 closed, assigned to nobody

[2014-08-15 00:09] EvanHahn opened #67 "Add more CSP resources to README"
Per #66, we should add some more resources for CSP.

[2014-08-24 15:54] #64 closed, assigned to nobody

[2014-08-24 16:08] #65 closed, assigned to nobody

[2014-08-24 16:09] #58 closed, assigned to nobody

[2014-08-24 16:09] #67 closed, assigned to nobody

[2014-08-24 16:09] #35 closed, assigned to nobody

[2014-08-24 16:12] EvanHahn opened #69 "Move CSP middleware to helmet-csp"
See [helmetjs/csp](https://github.com/helmetjs/csp).

[2014-08-24 16:14] EvanHahn opened #70 "Move hidePoweredBy middleware into its own module"

[2014-08-24 16:14] EvanHahn opened #71 "Move HSTS middleware into its own module"

[2014-08-24 16:15] EvanHahn opened #72 "Move ienoopen into its own module"

[2014-08-24 16:15] EvanHahn opened #73 "Move nocache into its own middleware"

[2014-08-24 16:15] EvanHahn opened #74 "Move nosniff into its own middleware"

[2014-08-24 16:15] EvanHahn opened #75 "Move xframe middleware into its own module"

[2014-08-24 16:15] EvanHahn opened #76 "Move xssFilter into its own module"

[2014-09-11 14:47] nvlbg opened #78 "README incorrect link"
The section about csp suggests a workaround for users of csurf but it leads to wrong link.

[2014-10-10 15:12] joelabair opened #79 "Support for defining CORS headers?"
Is there support for defining CORS response headers?

- Access-Control-Allow-Origin
- Access-Control-Allow-Credentials
- Access-Control-Expose-Headers
- Access-Control-Max-Age
- Access-Control-Allow-Methods
- Access-Control-Allow-Headers

[2014-10-16 14:54] analytically opened #80 "Support preload in hsts"
Chrome requires 'preload' to be set for the HSTS header: https://hstspreload.appspot.com/

[2014-10-16 23:36] #80 closed, assigned to nobody

[2014-10-28 13:43] EvanHahn opened #83 "Move crossdomain middleware into its own middleware"
This was already done but I want this issue to show the milestone progress.

[2014-10-28 13:43] #83 closed, assigned to nobody

[2014-10-28 13:44] EvanHahn opened #84 "Add CONTRIBUTING.md"

[2014-10-28 13:50] EvanHahn opened #85 "Remove tests for split-out modules"
Do this when everything's 100% moved out, though!

[2014-10-28 13:53] #69 closed, assigned to nobody

[2014-10-28 13:53] #78 closed, assigned to nobody

[2014-10-28 14:07] #70 closed, assigned to nobody

[2014-10-28 14:29] #71 closed, assigned to nobody

[2014-10-28 14:29] #72 closed, assigned to nobody

[2014-10-28 14:43] #73 closed, assigned to nobody

[2014-10-28 14:43] #74 closed, assigned to nobody

[2014-10-28 14:57] #75 closed, assigned to nobody

[2014-10-28 15:07] #76 closed, assigned to nobody

[2014-10-28 16:50] #85 closed, assigned to nobody

[2014-10-28 17:22] EvanHahn opened #86 "Transfer this into the helmetjs organization"
@evilpacket, could you move this repo into the [HelmetJS org](https://github.com/helmetjs)?

[2014-10-28 17:46] #86 closed, assigned to evilpacket

[2014-10-29 15:23] #84 closed, assigned to nobody

[2014-12-30 12:29] binarykitchen opened #87 "How to allow Cross-Origin request to fonts.gstatic.com?"
In Firefox I see this warning but do not know what to do:

[code]

My current helmet code is

[code]

[2015-01-01 16:37] EvanHahn commented on #87
Try "flattening" your CSP policy, to something more like this:

[code]

[2015-01-02 01:11] binarykitchen commented on #87
oh i seeeeee ... works now. must have picked a bad example from somewhere else.

[2015-01-02 01:11] #87 closed

[2015-01-02 01:17] binarykitchen opened #88 "Weird AngularJS CSP code"
While debugging to find out why the helmet code isn't working properly with AngularJS I opened the console and found this error

[code]

Ok, I clicked on `bundle-3fe04b60.js:3811` and spotted these interesting code lines inside the AngularJS framework:

[code]

What should I add under `'script-src'` to accept the above?

[2015-01-02 01:39] EvanHahn commented on #87
Glad it's all fixed!

[2015-01-02 20:15] EvanHahn commented on #88
Can you go into the Network tab and see what resource it's trying to load?

[2015-01-03 01:30] binarykitchen commented on #88
Not relevant for me anymore. I found out that AngularJS is 30% slower with CSP enabled so I removed `app.use(helmet.csp(policy))` completely :(

[2015-01-03 02:11] evilpacket commented on #88
It's really weird to me that it would have that drastic of a performance impact. @binarykitchen do you have a reference for that by chance?

[2015-01-03 02:19] binarykitchen commented on #88
https://docs.angularjs.org/api/ng/directive/ngCsp

[2015-01-08 21:50] mattjay commented on #88
That performance hit is seriously surprising. Cc: @prozachj

[2015-01-23 06:08] EvanHahn commented on #88
Is this still an issue? I'll close if not.

[2015-01-23 10:25] binarykitchen commented on #88
Yes, it is still an issue

[2015-01-23 15:33] EvanHahn commented on #88
This mostly looks like an Angular issue. From the [ngCsp docs](https://docs.angularjs.org/api/ng/directive/ngCsp):

You have four options:

1. disable CSP altogether, forgoing any of its security benefits
1. drop Angular altogether
1. add `'unsafe-eval'` to your CSP policy, forgoing that security benefit but keeping the rest
1. add the `ng-csp` directive and take a performance hit

I'd recommend o

[2015-01-24 00:21] binarykitchen commented on #88
Thanks for the recommendations - I'll give option 3 or 4 a try.

[2015-02-03 12:19] binarykitchen commented on #79
What's the status of this ticket? Does helmet come with CORS utility functions now?

[2015-02-03 13:54] EvanHahn commented on #79
I think we should just recommend some good CORS middleware (like above) and
add it to the readme. Thoughts?

[2015-02-04 02:32] binarykitchen commented on #79
Maybe https://www.npmjs.com/package/cors ?

[2015-02-04 02:40] binarykitchen commented on #88
Correction @EvanHahn, even with `unsafe-eval` AngularJS complains. Here my code:

[code]

I won't consider option 4 due to the performance hit.

[2015-02-05 14:30] EvanHahn commented on #79
Is anyone opposed to me adding a "other recommended modules" section to the
README, adding the cors package, and closing this issue?

[2015-02-05 14:31] EvanHahn commented on #88
Would you be able to create a simple test app that recreates this issue?
I'd imagine it's just a simple Angular app with these CSP directives, but
I'm not sure.

[2015-02-05 15:35] m13 commented on #79
No, it's fine. Don't re-implement the wheel. It's better to focus.

[2015-02-05 17:44] evilpacket commented on #79
+1

[2015-02-10 01:25] #79 closed

[2015-02-10 01:26] EvanHahn commented on #59
Because there's so much rate-limiting middleware, I'm going to close this and just not do it.

[2015-02-10 01:26] #59 closed

[2015-02-13 15:58] netmiller opened #89 "Lo-Dash version"
With __iojs__ I have updated my __lodash__ package -> v.3.2.0.
Now npm is warning :

[code]

Do you think there will be any problem that I might be afraid.

[2015-02-13 17:04] EvanHahn commented on #89
Just pushed Helmet 0.6.1. Could you try updating?

[2015-02-13 17:10] netmiller commented on #89
OK, now it's clean (update). I also removed with __npm remove helmet__, and deleted this dependency from __package.json__, and installed again.  No warnings.  Thank you very much !

[closing this issue]

[2015-02-13 17:11] #89 closed

[2015-02-13 17:19] EvanHahn commented on #89
:+1:

[2015-02-18 16:50] EvanHahn commented on #88
@binarykitchen Any chance you could make a simple example app that tests this?

[2015-02-18 20:47] binarykitchen commented on #88
Sorry, too busy right now and for now I have disabled this module in my code.

[2015-02-20 00:50] EvanHahn commented on #88
Okay. Let me know if we can help.

Do you mind if we close this issue? It seems to be an issue with Angular and not Helmet.

[2015-02-20 00:52] binarykitchen commented on #88
Sure, closed

[2015-02-20 00:52] #88 closed

[2015-03-05 14:25] ajinabraham opened #90 "Add Support for HTTP Public Key Pinning (HKPK)"
For your ref: https://timtaubert.de/blog/2014/10/http-public-key-pinning-explained/

[2015-03-05 16:32] EvanHahn commented on #90
Thanks for pointing this out!

Here's what I'm thinking the API might look like:

[code]

What do you think?

[2015-03-05 17:38] ajinabraham commented on #90
The first one looks good.
According to IETF draft on public key pinning, there can be options like report-uri.

ex:
[code]
If you are going with the second option then the following are my concerns.
Pinning can happen at different levels of certificate. Like someone will pin the root CA and the leaf node, someone else will pin the intermediate CA and the leaf node. So if you are reading the pem fi

[2015-03-05 17:53] EvanHahn commented on #90
Good points. Your second point should also make the code much simpler.

This probably means making a new repo. I'll get to this soon (unless you'd
like to).

[2015-03-05 22:15] EvanHahn commented on #90
See work at <https://github.com/helmetjs/hpkp>

[2015-03-05 22:37] EvanHahn commented on #90
Just pushed Helmet 0.7.0 with HPKP support. You can use it with `helmet.hpkp` or with the [standalone hpkp module](https://github.com/helmetjs/hpkp).

[2015-03-05 22:37] #90 closed

[2015-03-06 01:42] analog-nico opened #91 "HTTP Parameter Pollution Attacks"
Hi guys, I found these [excellent slides](https://speakerdeck.com/ckarande/top-overlooked-security-threats-to-node-dot-js-web-applications?slide=48) which pointed me to helmet. Your toolbelt helped me a lot! However, I didn't find a solution to defend against HTTP Parameter Pollution Attacks (see slides 48 to 61) so I wrote the library [HPP](https://www.npmjs.com/package/hpp).

I think HPP would b

[2015-03-06 03:52] EvanHahn commented on #91
I've always found Express's querystring handling to be poorly designed. I will almost certainly add HPP to my upcoming Express book—I've been looking for _exactly_ that library.

I'm not sure if HPP fits in the scope of this library. On one hand, Helmet is "a series of middleware that help secure your Express/Connect apps". On the other hand, it mostly handles HTTP headers (with the exception of [

[2015-03-06 04:39] analog-nico commented on #91
Thanks for recommending HPP!

Although it is also a no-brainer single-line middleware (`app.use(hpp())`) I think one aspect is important: You have to add HPP after the body parser middleware. Currently, all Helmet middlewares can be added anywhere.

Anyway, the more I read about Helmet the more I understand its focus. Let's leave it at the recommendation.

[2015-03-06 04:39] #91 closed

[2015-03-09 00:18] EvanHahn opened #92 "The road to 1.0"
Helmet is split up into many repos, so the to-do list is here instead of in individual issues. I am sorry.

- [x] Mission statement: Helmet is just for HTTP headers. This means rewording some of the readme and removing the `crossdomain` middleware.
- [ ] Completely remove `crossdomain` middleware—it's just deprecated right now.
- [ ] Test app for CSP, independent of Helmet. The CSP module does a l

[2015-03-09 18:04] evilpacket commented on #92
+1 to Mission Statement so that we don't necessarily have to keep clarifying about feature requests
+1 for CSP level 2
+1 for docs

[2015-03-22 22:23] Torone opened #93 "frameguard do not allow file upload"
Hi, I don't really know if it is an issue or not, it is the first time I use Helmet.

I have a MEAN stack application and it allow my users to upload images within their folder. The folder is created by the server once the user upload the first image.

In my configuration I have: `app.use(helmet.frameguard('deny'));` and I also tried all the various alternatives but it seems to block the creation

[2015-03-23 04:44] EvanHahn commented on #93
Does this give any errors, or does it silently fail?

[2015-03-23 11:05] Torone commented on #93
Unfortunately it silently fail just redirecting me to the `/report-violation` url.

It happen only if the image exceed the nginx `client_max_body_size` but I was expecting a different error in this case. Commenting out the frameguard I correctly receive the server error of the max file size.

It is just a weird behaviour because it should not block the upload, it should block something not related

[2015-03-30 23:49] EvanHahn commented on #93
Are you using any other Helmet middleware? And where does the `/report-violation` URL come from?

[2015-04-02 21:46] ericmdantas opened #94 "Feature: Validate payload's content length"
Hi!

First of all, nice module.

I'd like to know if it's interesting enough to have a middleware for validations for the content length of a given payload, be it a POST or a PUT.

I have written a middleware to do so [(express-content-length-validator)](https://github.com/ericmdantas/express-content-length-validator), so if you're interested we could merge it to helmet.

[2015-04-04 20:49] EvanHahn commented on #94
This isn't well-communicated (and is something we need to fix, see #92), but Helmet is only for setting security-related HTTP headers. Your library is good but is out of this library's scope.

I've added it to the "other recommended modules" section of the readme (in commit 690787415882dfa31a8e191e153740e561261e3e). Thanks!

[2015-04-04 20:49] #94 closed

[2015-04-05 14:08] ericmdantas commented on #94
Thanks!

[2015-04-21 13:52] hdf opened #95 "lodash is redundant"
`lodash` is required by both `helmet-csp` and `hsts`. It is a fairly big dependency, that is installed twice. If it was set as a direct `helmet` requirement, than it would only be installed once (theoretically). Currently helmet is larger than express because of this, which is ridiculous.

[2015-04-21 14:17] EvanHahn commented on #95
What if we installed the individual lodash dependencies? So instead of this:

[code]

...we'd do this:

[code]

Thanks for pointing this out!

[2015-04-21 14:29] hdf commented on #95
This has nothing to do with what I said.

[2015-04-21 14:29] trygve-lie commented on #95
I think we can totally. Looking through the code it seems to me that lodash are only used for `isString()`, `isFunction()` etc and a Object deep copy.

The Object deep copy are only used once. That can be pulled into a separate function in Helmet instead. There is also one usage of `.map` which can be replaced by the native ES5 `.map` method.

For the `isString()`, `isFunction()` etc we can in nod

[2015-04-21 14:33] hdf commented on #95
Well, if `lodash` could be eliminated completely, that would be great, as it's a massive thing, in itself is almost as large as express.

[2015-04-21 14:35] trygve-lie commented on #95
Talking about size; I think its also possible to remove the dependency to `connect` (and still support connect).

[2015-04-21 14:38] hdf commented on #95
`Express 4` no longer uses `Connect`, why are we?

[2015-04-21 14:46] EvanHahn opened #97 "Investigate removing Connect dependency"
To quote my comment in #95:

We should investigate what it'd take to remove Connect.

[2015-04-21 14:47] EvanHahn commented on #95
I don't think we should write things like `isFunction` or object copying ourselves. Lodash is battle-tested and has thought about weird edge cases that I don't think we should think about.

I agree that requiring all of Lodash is probably overkill. We can just require the bits and pieces that we need. While that's not the same as "only include Lodash once," I think it solves the underlying problem

[2015-04-21 14:56] trygve-lie commented on #95
The above PR use the same `isFunction` checks as node.js / iojs use themself internally. Tons of modules rely on these checks and I would say that these checks are pretty battle-tested also.

Yes; they are a tiny bit simpler than the lodash checks but are the very tiny amount of corner cases really an issue? I don't think so.

Agree that the connect question are a separate issue.

[2015-04-21 15:19] trygve-lie commented on #95
Looking at the deep copy in [csp](https://github.com/helmetjs/csp/blob/master/lib/browser-handlers.js#L31); is a deep copy really needed? From what I can see, the Object being cloned is quite flat.

[2015-04-21 20:19] EvanHahn commented on #95
Closing this in favor of <https://github.com/helmetjs/csp/issues/12>.

[2015-04-21 20:19] #95 closed

[2015-04-21 21:00] trygve-lie commented on #95
This removes Lodash from CSP also: https://github.com/helmetjs/csp/pull/13

[2015-04-22 00:19] EvanHahn opened #98 "Deprecate crossdomain"

[2015-04-22 01:13] EvanHahn commented on #98
Done. The majority of the work was done in bf65c0f479d673651213aa751b5234123ae95efe but there were a few other commits too.

[2015-04-22 01:13] #98 closed

[2015-04-22 01:14] EvanHahn commented on #93
@Torone Any updates?

[2015-04-22 01:17] EvanHahn commented on #95
Thanks @hdf for bringing this up and @trygve-lie for the PRs! I released `helmet@0.8.0`, `hsts@0.1.2` and `helmet-csp@0.2.3` which removes the Lodash dependencies (and fixes a few other things).

[2015-04-22 06:12] trygve-lie commented on #95
Thanks for pulling the PRs and releasing this fast :-)

[2015-04-22 08:06] Torone commented on #93
Not yet sorry, I just commented it out at the moment and I'm going ahead with the project.

[2015-04-25 19:05] EvanHahn commented on #93
Okay. Do you mind if I close this issue?

[2015-04-26 20:32] Torone commented on #93
Sure, thanks.

[2015-04-26 20:32] #93 closed

[2015-06-16 22:34] devlo commented on #92
You should add performance optimizations.
This is with CSP on:

[code]

[2015-06-16 22:51] EvanHahn commented on #92
@devlo The CSP module is pretty slow because it has to parse incoming useragents, which takes time. Any thoughts on how to make this faster?

[2015-07-08 17:27] KevinMartin commented on #92
Instead of parsing every single request's UA, you could save the last 20, 50, 100, etc... in memory and check it before parsing it. I noticed you also did `parseFloat` on the version numbers a lot. I would move that to the function that parses the UA that way on a cache hit, the version number is already floated and you can skip it the next time around.

[2015-07-08 17:50] KevinMartin commented on #92
Btw, it would be great if you can extract this into a standalone lib, instead of it being Express specific/targeted.

I use Koa and I have to depend on koa-helmet which:
 1. seems to be outdated
 2. doesn't suit my needs.

A standalone library would allow me to do whatever I want, such as create my own custom middleware that will handle a certain CSP policy for one path and another CSP policy for

[2015-07-08 23:03] EvanHahn commented on #92
@KevinMartin The current `csp` middleware has to parse the useragent and then decide on one or more headers to set. While these things could be separated into a separate module, they feel _really_ closely tied to the request and response.

Thoughts on this?

[2015-07-08 23:24] devlo commented on #92
Did you try native node.js addons written in C/C++ that do the same thing ?
You should check if context switching between JS and C/C++ is worth it.
Another solution is using https://github.com/3rd-Eden/useragent
 which has function allowing in-memory caching

[2015-07-09 18:03] KevinMartin commented on #92
@EvanHahn,

A standalone lib could still parse the UA and return an object of the headers to set:

[code]

Another Pro for this would be that other modules/frameworks could then use `helmet-csp-core` as a dependency...

The other thing I could suggest is instead of a separate module, to just add a separation of duties within the current module:

[code]

[2015-07-09 18:07] KevinMartin commented on #92
I really like all of the helmet modules, but the fact that they are targeted solely for Express, is a killer, since i either use Koa or custom frameworks.

[2015-07-10 20:46] EvanHahn commented on #97
Does anyone care about this? Personally, I don't think this is a big issue. (cc @trygve-lie @hdf)

[2015-07-11 02:16] MarkHerhold commented on #97
I honestly couldn't care about the use of the Connect dependency. Connect is well tested and works, which is the best you can ask for.

What I really do care about though it the ability to use helmet in Koa (same as @KevinMartin mentioned in #92). I honestly have no idea if Connect helps or hurts that goal though. Just my 2 cents.

[2015-07-11 18:07] EvanHahn opened #100 "Investigate supporting Koa and other frameworks"
Discussion in #92 and #97 talks about supporting Koa and other frameworks.

I'm hesitant to do this. Helmet is already a fair bit for me to maintain and I don't want it to get too complex. [koa-helmet](https://github.com/venables/koa-helmet) seems to solve this issue, but I'm not sure.

I'd like to bring the discussion here. What do people want? How should we approach this problem?

[2015-07-11 18:07] EvanHahn commented on #92
@KevinMartin Let's take this to #100.

[2015-07-11 18:08] EvanHahn commented on #97
@MarkHerhold Added #100 about the Koa issue.

I tend to agree—honestly, Connect is probably more reliable than something I would write.

[2015-07-11 18:15] dcousens commented on #97
@EvanHahn I don't think dropping `connect` is a good solution,  as it is probably already quite generic given its use case.

However,  in light of #100,  you could probably just make a wrapper module? `helmet-koa`?
How different is `koa`?  I thought it was just `connect`-like but with promises instead of callbacks.

[2015-07-11 19:26] MarkHerhold commented on #100
Simply from the standpoint of helmet staying relevant, I think that there should be a story for getting helmet to work with Koa. In my opinion, I see Koa gaining popularity as it embraces newer ES6/JS2015 features like generator functions and is simpler to use than Express (not trying to start a war here, this is just my opinion and why I think it is going to become more and more popular).

There

[2015-07-11 19:54] EvanHahn commented on #97
@dcousens Let's bring the Koa discussion to #100.

Closing this issue—seems like we're fine with the Connect dependency.

[2015-07-11 19:54] #97 closed

[2015-07-12 02:12] burabure commented on #100
+1 @MarkHerhold . ideally helmet should abstract/decouple its core away from any framework implentation. Also koa is probably going to take over in a year or less because of standards and esnext

[2015-07-12 17:50] EvanHahn commented on #100
I'd argue that helmet _does_ decouple its core away from a framework implementation.

Here's how to use one of Helmet's middlewares with Koa:

[code]

I think I'd prefer to submit some patches to [koa-helmet](https://github.com/venables/koa-helmet) to make it simpler (it doesn't have to be a fork, just a wrapper).

[2015-07-12 19:50] MarkHerhold commented on #100
I like that idea @EvanHahn. I don't see any reason for koa-helmet to be a fork. I would like it even more if you owned it under the `helmetjs` github org. What are your thoughts here?

I'll make an issue on the koa-hemet repo and see if we can get the author involved in this discussion. See https://github.com/venables/koa-helmet/issues/13

[2015-07-12 19:57] EvanHahn commented on #100
@MarkHerhold I'd certainly feel comfortable putting `koa-helmet` under the `helmetjs` org. I'd be a little more wary to merge its code into the "main" Helmet repo, but I'm on the fence.

[2015-07-12 20:07] MarkHerhold commented on #100
@EvanHahn I'm not sure that it would be a merge rather than a rewrite, maybe keeping some tests. The way `koa-helmet` currently keeps the "subprojects" in sync is via the 'copy-paste & commit' method is not good from multiple (maintenance, security, sanity, etc) perspectives.

[2015-07-12 20:14] EvanHahn commented on #100
Agreed. I could imagine `koa-helmet` having just one dependency: `helmet`.

[2015-07-13 17:38] venables commented on #100
Happy to help however I can & happy to move the project under the `helmetjs` org.

I love the simplicity of a wrapper with a single `helmet` dependency.   I can see future wrappers for other frameworks following the same pattern.

[2015-07-13 22:14] venables commented on #100
Made a quick, rough PR to koa-helmet which provides the wrapper behavior.  Comments welcome: https://github.com/venables/koa-helmet/pull/14

[2015-07-13 22:18] EvanHahn commented on #100
I think the answer is to use `koa-helmet` and include it in the `helmetjs` GitHub org.

I've left comments at https://github.com/venables/koa-helmet/pull/14 and encourage others to do the same. Once that's merged, I'll talk to @venables about transferring ownership to the GitHub org and next steps.

[2015-08-03 23:55] VynceMontgomery commented on #98
is there any explanation of why this change or what replaces it?  I see that there's a separate helmet-crossdomain package on npm ( https://www.npmjs.com/package/helmet-crossdomain ), but it's not clear if that is *also* deprecated, or the replacement for this, or what. Can you clarify?

/

[2015-08-04 03:24] EvanHahn commented on #98
Helmet is for HTTP headers only, and `crossdomain.xml` doesn't fall under that blanket. The `crossdomain` package will continued to be maintained but won't be included in Helmet 1.0.0.

[2015-08-04 07:39] VynceMontgomery commented on #98
when you say "the corssdomain package" do you mean the one called "helmet-crossdomain"? or are you changing the name to reflect the fact that it's not part of helmet anymore?

[2015-08-07 18:26] EvanHahn commented on #98
Ah, sorry for the confusion.

1. `helmet.crossdomain` won't be present in version `1.0.0`.
1. We will continue to maintain the `helmet-crossdomain` package ([this one](https://github.com/helmetjs/crossdomain)), even though it won't be included in "core" Helmet.
1. We will [consider renaming the package](https://github.com/helmetjs/crossdomain/issues/4).

Does that clear things up?

[2015-08-14 21:42] VynceMontgomery commented on #98
I suppose so. limiting helmet to things that are done with headers seems a little arbitrary, but at least what is happening is now clear.

[2015-08-16 04:49] venables commented on #92
I think we should just call it and name the existing code a 1.0.0 release. It's being used in production (fairly widely, as far as i can tell), so it really shouldn't be a 0.x release.  We could have this other proposed work (modified docs, mission statement, csp update) as part of a patch (or potentially, a major) release.

[2015-08-19 17:14] EvanHahn commented on #98
A lot of smart people were sending pull requests for [various Express-compatible security modules](https://github.com/helmetjs/helmet#other-recommended-modules). They were great, but I didn't want the scope of the project to grow too much. That's why I decided to stick to HTTP headers.

[2015-08-19 17:15] EvanHahn commented on #100
I think this issue has been closed—[koa-helmet](https://github.com/venables/koa-helmet) has been endorsed in the readme a couple of times.

Thanks everyone!

[2015-08-19 17:15] #100 closed

[2015-08-19 17:16] EvanHahn commented on #92
@venables I'm hesitant to do so—the CSP module feels really brittle at the moment and needs support for Level 2 which will likely break its API. I'm planning on bumping to `helmet@1.0.0` once that's done, but it's a big effort I haven't had time for at the moment.

[2015-09-17 22:09] KevinMartin opened #102 "Add support for "upgrade-insecure-requests" in CSP"
http://www.w3.org/TR/upgrade-insecure-requests/

[2015-09-17 23:07] EvanHahn commented on #102
Closing in favor of https://github.com/helmetjs/csp/issues/21.

[2015-09-17 23:07] #102 closed

[2015-09-18 23:31] EvanHahn commented on #92
CSP level 2 is finally added in `helmet@0.11.0` and `helmet-csp@0.3.0`!

[2015-09-19 03:16] EvanHahn opened #103 "Update readme with new CSP stuff"

[2015-09-22 19:11] #103 closed

[2015-10-07 06:23] martianmartian opened #104 "Cannot find module './config.json'"
I guess my heroku has been caching the old version for a while, when i updated, it came out a new error.

Any thought?

Searching 2768 files for "./config.json"
[code]

[2015-10-07 15:26] EvanHahn commented on #104
Do you have a stack trace you can show?

[2015-10-09 14:11] iamwave007 commented on #104
strange that I can't reproduce the error if i break down the app to the simplest part. It seems the erro isn't from the helmet itself.. still looking for it.. hold on

[2015-10-09 15:04] EvanHahn commented on #104
Could it be that you're adding a `require` hook?

[2015-10-12 14:29] iamwave007 commented on #104
Is that supposed to be the cause of the issue? I don't even know what it is..
It's been spooky lately. I can't push changes for the moment before fixing it..

[2015-10-12 14:31] EvanHahn commented on #104
Can you see the logs with `heroku logs`?

[2015-10-26 20:02] rdooh commented on #104
I get this from my terminal when running some Jest unit tests...
    Cannot find module './lib/config' from ... /node_modules/helmet/node_modules/helmet-csp/index.js
In my case, I can probably maneuver around it... but might help... ref'd from dependency

[2015-10-26 20:12] EvanHahn commented on #104
@rdooh I'd love to debug this but I'm really unsure what the issue is. Could you create a sample repo that shows this error?

[2015-10-26 20:12] EvanHahn commented on #104
Also—what version of Node are people using?

[2015-10-26 21:45] rdooh commented on #104
node 4.1.1
will take a look at a sample later - but it looks like helmet-csp tries to require a config.json file and it's breaking for me, but only in Jest tests.  Works fine in the application itself.

[2015-10-26 21:54] EvanHahn commented on #104
Could it be related to this Jest issue?
https://github.com/facebook/jest/issues/353

[2015-10-26 23:06] rdooh commented on #104
brilliant :) absolutely - just added json to the moduleFileExtensions and it works

    "moduleFileExtensions": ["js", "json", "node"]

so not at all a helmet thing :) - maybe there's a similar condition with the original issue from @martianmartian

[2015-11-01 15:52] EvanHahn commented on #104
@martianmartian Any updates?

[2015-11-10 19:59] tomalex0 opened #105 "Demo exploiting all these vulnerabilities"
Do you have any demo app which have all these vulnerabilities . Just want to try out `helmet` in that and figure out how its working. If you have any reference  also that would be great.

[2015-11-10 20:02] EvanHahn commented on #105
This is a good idea. We don't have a demo app, though.

Does anyone want to take this on?

[2015-11-11 09:13] ZiCog opened #106 "International Domain Name in connectSrc of csp not working in Firefox."
I have a simple web app that uses web sockets (socket.io) and operates from an international domain name "2π.net" or "xn--2-umb.net" in punny code. So I use this to configure CSP allowing access to the websocket:

    app.use(helmet.csp({
        defaultSrc:  ["'self'"],
        scriptSrc:   ["'self'"],
        styleSrc:    ["'self'","'unsafe-inline'"],
        imgSrc:      ["'self'"],
        con

[2015-11-12 01:58] EvanHahn commented on #106
I'd be very surprised if this were a Helmet issue. Could you try setting the header like this and seeing if it still breaks?

[code]

If it still fails, then this isn't an issue with Helmet.

[2015-11-12 06:26] EvanHahn commented on #104
@martianmartian I'm going to close this issue for now. Feel free to reopen it if you're still having trouble!

[2015-11-12 06:26] #104 closed

[2015-11-12 13:31] ZiCog commented on #106
Yep, seems to be an issue with Firefox

This:

    // This is instead of app.use(helmet.csp).
    app.use(function (req, res, next) {
        res.setHeader("Content-Security-Policy", "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self'; connect-src 'self' wss://xn--2-umb.net font-src 'self'; ");
        next();
    });

Results in this:

    Content Security Pol

[2015-11-12 14:31] EvanHahn commented on #106
Okay. I'm gonna close this issue. We can use this spot for any further discussion.

[2015-11-12 14:31] #106 closed

[2015-11-12 21:03] ZiCog commented on #106
OK, I progressed this issue to Bugzilla@Mozilla. Seems they accept that it is a Firefox bug.

[2015-11-16 14:24] kaushik94 commented on #105
@EvanHahn This is a great tool. Sorry for commenting since I felt this is only a small question. How do we use helmet or disable it when working locally. For example I am implementing a share button and it makes a request to https://cdn.api.twitter.com/ but helmet blocks. I don't want to frequently change the helmet configuration since it might screw things up if I don't revert back. Is there a wa

[2015-11-16 16:57] EvanHahn opened #107 "Disable Helmet when working locally"
From [@kaushik94's comment in another thread](https://github.com/helmetjs/helmet/issues/105#issuecomment-157045844):

Let's discuss this here.

[2015-11-16 16:58] EvanHahn commented on #107
@kaushik94 Do you want to disable Helmet in development mode?

[2015-11-16 16:58] EvanHahn commented on #105
@kaushik94 Let's open a new issue and discuss it there. I opened #107.

[2015-11-16 17:55] kaushik94 commented on #107
@EvanHahn yes.

[2015-11-16 18:35] EvanHahn commented on #107
Are you using Express?

[2015-11-16 18:41] kaushik94 commented on #107
yes

[2015-12-03 15:06] kivi opened #108 "Add a confige path for config.json to the options"
It would be great to have the possibility to change the default config. I have seen workarounds to changing the config.json in node_modules/helmet. Custom config file could be also useful to #107

[2015-12-03 16:17] evilpacket commented on #108
I thought we used to have an option to load values from a config file. I could be wrong though as a quick glance through the docs didn't show it. It's been a while since I've been in the code base.

[2015-12-03 16:49] EvanHahn commented on #108
@kivi Do you want this so that you can only include certain middlewares? What's the use case for changing that file?

[2015-12-03 20:34] edlerner-TU opened #109 "Cannot find module 'helmet-csp'"
Following the direction of the README (`var csp = require('helmet-csp');`), I fail to require the CSP sub-package, even though the install of Helmet et al was successful and all other Helmet packages (e.g. frameguard) perform as expected

[code]

[2015-12-03 20:51] EvanHahn commented on #109
The readme was unclear. This is what you should be doing:

[code]

Does that work?

[2015-12-03 21:05] edlerner-TU commented on #109
Yes it did, thank you for clarifying.

[2015-12-03 21:05] #109 closed

[2015-12-04 00:01] kivi commented on #108
@EvanHahn, configuration for one of the environment is different, a use case is: I have to take out "ienoopen" from the config make it work for certain clients working inside the company. Whereas the public access is not affected.

[2015-12-04 00:04] EvanHahn commented on #108
@kivi It sounds like you're looking for something that can be done at the Express level. Would something like this help you?

[code]

[2015-12-04 00:06] EvanHahn commented on #109
Thanks for bringing this up—the readme was unclear.

[2015-12-04 00:15] kivi commented on #108
@EvanHahn, sure, I would need 8 out of 9. So maybe an exclude list or just a list as a config param

[code]

[2015-12-04 00:20] EvanHahn commented on #108
@kivi Would this work?

[code]

[2015-12-04 19:33] kivi commented on #108
@EvanHahn I was thinking of something like this, in case further middleware are included or removed in helmet versions.

[code]
read/write access to `helmet.config`

[code]

[2015-12-04 19:35] EvanHahn commented on #108
Helmet is soon to reach 1.0 and its defaults will stay that way for a long time.

I hesitate to add more than one way to do something—it will increase my support burden and the surface area for potential bugs.

[2015-12-05 07:02] kivi commented on #108
Fair enough, :+1:
As for the time being I have some options as mentioned above, thanks!

[2015-12-05 18:13] EvanHahn commented on #108
Sounds good! Feel free to open a new issue if you have more problems/questions.

[2015-12-05 18:13] #108 closed

[2015-12-06 18:18] EvanHahn commented on #107
@kaushik94 Did my solution help?

[2015-12-06 19:02] kaushik94 commented on #107
@EvanHahn I did something similar but I'm sorry I forgot to reply back. I had a config yaml file and I set a flag for dev and prod and it works now. Thanks a lot, helmet was amazing.

[2015-12-06 19:05] EvanHahn commented on #107
Sounds good. I'll close this issue for now; feel free to open a new one if you have any problems.

[2015-12-06 19:05] #107 closed

[2015-12-19 02:01] EvanHahn commented on #92
Closing this—1.0.0 is out!

[2015-12-19 02:01] #92 closed

[2016-01-07 03:40] mech opened #110 "setAllHeaders to false still include X-Content-Security-Policy and X-WebKit-CSP"
The `setAllHeaders: false` supposed to only set one header and that is `Content-Security-Policy`, but I am seeing the other 2 headers also.

My config:

[code]

[2016-01-08 18:23] EvanHahn commented on #110
Investigating now.

[2016-01-08 18:38] EvanHahn commented on #110
I investigated this and found another small bug (whoops!) but I'm not sure this is a bug.

- If `setAllHeaders` is `true`, Helmet will _always_ set 3 headers, no matter what: `Content-Security-Policy`, `X-Content-Security-Policy`, and `X-WebKit-CSP`.
- If `setAllHeaders` is `false`, Helmet will look at the `user-agent` and decide which of the three headers to set. If the `user-agent` is unrecogniz

[2016-01-12 20:54] EvanHahn opened #111 "Fully integrate dns-prefetch-control"
https://github.com/helmetjs/dns-prefetch-control

[2016-01-13 05:36] #111 closed

[2016-01-16 23:35] EvanHahn commented on #110
@mech Any updates?

[2016-01-16 23:51] mech commented on #110
Ya I was using httpie to request instead of a browser. I guess that why I see all 3 of it. Closing this and tks for clarifying :)

[2016-01-16 23:51] #110 closed

[2016-02-05 14:09] julien-f opened #112 "Passing configuration"
It could be nice if there could be a way to pass configuration to the middleware directly from the high level collection (which I like to use because I trust it is a much more sensible pick that I would have done myself).

[code]

[2016-02-05 20:37] EvanHahn commented on #112
This is something that Helmet used to have but I removed it because I'd like you to either (1) use the defaults (2) customize each piece; not something in between. That cuts down on the amount of maintenance I'd have to do, and I prefer to have only one way to do things.

Is this much worse than using each middleware by itself?

[2016-02-08 08:34] julien-f commented on #112
I agree with you that the user should either use the defaults or customize each piece, unfortunately, as as been said in helmetjs/hsts#5, it's not always easy to know what the defaults should be.

IMHO, without configuration, this package should provide what it aims to do, provide the maximum security possible.

[2016-02-08 16:54] EvanHahn commented on #112
The Helmet defaults should make you more secure without breaking your existing app. For maximum security, you should use and customize the individual pieces.

That's been my philosophy, anyway. Some of the most important features of this library require customization (CSP, HSTS, etc) and so we can't include them in the default.

Does that make sense? I could be convinced otherwise, but I'd rather

[2016-02-10 14:53] grtjn commented on #112
I think it makes sense to have this global config. Most people will be interested in starting off with the defaults, and might just want to enable one extra item, or override the default options for just one of the default guards. I'd rather not have to list out all items individually just because I want to override xssFilter option for instance..

Ideally I would like to be able to do something l

[2016-02-11 09:08] julien-f commented on #112
@grtjn Thanks for explaining my concern in a much better way that I could have done :)

[2016-02-11 15:51] EvanHahn commented on #112
This makes sense to me.

Would either of you like to submit a PR I can take a look at?

[2016-02-16 09:15] grtjn opened #113 "Contributing guidelines for this project?"
Are there particular contributing guidelines for this project? I typically use either of these as example:

https://github.com/marklogic/slush-marklogic-node/blob/master/CONTRIBUTING.md

https://github.com/grtjn/ml-google-maps-ng/blob/master/CONTRIBUTING.md

(yes, they look very similar.. ;))

[2016-02-16 18:37] EvanHahn commented on #113
I like these. Can I use one of those as a template?

[2016-02-16 19:07] grtjn commented on #113
Of course, nothing special about them. Read through carefully though, particularly the links. You probably want to tweak here an there to your liking..

[2016-02-28 16:36] EvanHahn commented on #105
@tomalex0 If you (or anyone) would like to send a demo app (even if it's incomplete), we can add it to the project. I do not have time to implement this on my own.

[2016-03-15 08:14] binarykitchen opened #115 "How to remove a preloaded hsts entry?"
I mistakenly used this for a local site to be developed

[code]

But now, I can't visit the local site with plain HTTP anymore.

How can I undo this? Googled a lot, no luck. Any ideas?

Maybe setting `maxAge` to `-1` does the trick?

[2016-03-18 18:41] EvanHahn commented on #115
I'm not sure about this one. Because `preload`ed stuff is preloaded into browsers, it might be tricky to undo.

In reading [the spec](http://tools.ietf.org/html/rfc6797#page-19), I see two things:

- The browser should update its HSTS cache if it sees a new header:

- A `max-age` of `0` should obliterate the entry in the browser's cache:

Maybe try setting the `max-age` to `0`?

[2016-03-18 18:42] EvanHahn commented on #115
I'm happy to keep helping you with this (I'd love to know the answer!) but I'm going to close this issue unless you think it's a problem with Helmet itself, in which case I'll reopen.

[2016-03-18 18:42] #115 closed

[2016-03-20 21:05] binarykitchen commented on #115
@EvanHahn do you think you could test this if max-age=0 helps?

[2016-03-20 21:17] siboulet commented on #112
+1

Due to the "permissive" defaults of the HSTS module (discussed here https://github.com/helmetjs/hsts/issues/5), it be great to just be able to override the HSTS config and keep everything else to default like this:

[code]

[2016-03-21 17:02] EvanHahn commented on #115
Would you be able to try it? It sounds like conditions are right for you to test it out.

[2016-03-22 05:57] binarykitchen commented on #115
okay, i tried and nope, it doesn't work. setting max-age to 0 or 1 won't remove it from cache.

makes sense because google chrome must be fetching that (cached?) hsts list from somewhere else. and it is added on their remote serves when parsed/detected for the first time, even if it's a locally developed site.

i think this should be documented or even better, come along with a warning when not in

[2016-03-22 17:29] EvanHahn commented on #115
I thought they only added it to their cache if you submitted it to them (I recall there being a form). I'll look into this further.

[2016-03-25 02:47] boysmovie opened #116 "helmet doesn't install correct hpkp"
When npm i helmet, it installs probably an older version of hpkp.

So if you have a reportUri even when reportOnly is false you still get the header as "Public-Key-Pins-Report-Only"

[code]

[2016-03-25 16:35] EvanHahn commented on #116
The latest version of `hpkp` is [1.1.0](https://github.com/helmetjs/hpkp/commit/86ea3eded9df7092d0402fb4f4807caa85669b1b) and Helmet [specifies that version in its package.json](https://github.com/helmetjs/helmet/blob/aaf9130997ece10ec5cf03b4d6a60f730c016bc2/package.json#L35).

Can you try reinstalling Helmet?

[2016-03-26 12:35] juergenzimmermann opened #117 "Support media-src"
Please see http://www.html5rocks.com/en/tutorials/security/content-security-policy/

[2016-03-27 17:09] EvanHahn commented on #117
I made [a sample app](https://gist.github.com/EvanHahn/860d3dae418d5e1c45e4) that uses `media-src` and it appears to work for me. Does this not work for you?

[code]

Are you using the latest version of `helmet` (and/or `helmet-csp`)?

[2016-03-28 01:46] EvanHahn commented on #115
Any chance this helps? http://superuser.com/questions/480200/how-to-disable-ssl-for-some-websites-in-chrome/481277

[2016-03-28 02:24] binarykitchen commented on #115
@EvanHahn nope, this doesn't help but thanks anyway. Will have to wait until the hsts entry has expired :(

[2016-03-28 13:16] juergenzimmermann commented on #117
Yes, I'm using the latest version of helmet - together with TypeScript. Due to TypeScript I'm also using helmet.d.ts and get this error message:
`Type '{ defaultSrc: string[]; mediaSrc: string[]; }' is not assignable to type 'IHelmetCspDirectives'. Object literal may only specify known properties, and 'mediaSrc' does not exist in type 'IHelmetCspDirectives'.`
The problem seems to be at https://git

[2016-03-28 17:45] vhpezzolla opened #118 "npm dependency installation"
Hello, I'm fairly new to node development. I ran the 'npm install helmet --save' command and it added several hundred new node_modules along with modifying some existing node_modules within the project.  I thought a plug-in's (like helmet) dependencies were contained within its local internal node_module directory?  Having all helmet's dependencies at the same level as helmet caused the project's

[2016-03-28 18:38] evilpacket commented on #118
npm 3 flattens out the dep tree as much as possible. We (as helmet) don't have control of where npm decides to put your dependencies.

[2016-03-28 18:40] evilpacket commented on #118
This is probably useful to you. https://docs.npmjs.com/how-npm-works/npm3

[2016-03-28 18:40] #118 closed

[2016-03-29 01:44] EvanHahn commented on #117
This looks like a problem in DefinitelyTyped. Is it okay if I close the issue here because this is not a problem with Helmet?

I'd like to submit a PR to DefinitelyTyped to improve their type definitions, but that isn't exactly part of Helmet.

[2016-03-29 07:48] juergenzimmermann commented on #117
Yes, I also think it's a Problem of DefinitelyTyped.
I highly appreciate if you'd submit a PR to DefinitelyTyped.

[2016-03-29 15:23] EvanHahn commented on #115
Let me know how it goes!

[2016-03-29 16:24] vhpezzolla commented on #118
Indeed.  It answers the questions.  Thank you

_________________________________________________________________

Vic Pezzolla
Software Developer, OI&T Product Development
801.738.7135 (Office)

From: Adam Baldwin [mailto:notifications@github.com]
Sent: Monday, March 28, 2016 12:40 PM
To: helmetjs/helmet
Cc: Pezzolla, Victor
Subject: [EXTERNAL] Re: [helmetjs/helmet] npm dependency installation (#1

[2016-03-29 17:19] EvanHahn commented on #117
I'll close this issue. I'll take a look at DefinitelyTyped and see if I can make a PR.

[2016-03-29 17:19] #117 closed

[2016-03-29 20:34] binarykitchen commented on #115
not sure if i ll remember to report back here in two months

[2016-03-29 20:35] EvanHahn commented on #115
No worries—I'll follow up.

[2016-04-02 22:23] EvanHahn commented on #117
Made a PR (<https://github.com/DefinitelyTyped/DefinitelyTyped/pull/8820>) for `csp`. I also made another for the `xssFilter` middleware (<https://github.com/DefinitelyTyped/DefinitelyTyped/pull/8818>).

[2016-04-05 17:33] EvanHahn commented on #117
Both of my PRs were merged! @juergenzimmermann, hope this helps.

[2016-04-05 17:50] juergenzimmermann commented on #117
@EvanHahn, thank you very much for your efforts.

[2016-04-29 11:27] naugtur opened #120 "Replacing the default 404 and 500"
It's a good practice to replace default responses from express to hide what it is, otherwise disabling x-powered-by doesn't prevent an attacker from guessing you're using express.

The important thing is that it wouldn't be just
[code]
but it'd have to be a separate tool that's used as the last two middlewares in your stack.

I'd like to contribute that to helmet, but I'd need to know if it's a we

[2016-04-29 16:00] EvanHahn commented on #120
Disabling X-Powered-By has [limited security benefit](https://github.com/expressjs/express/pull/2813#issuecomment-159270428), so I'd be hesitant to add new code to replace default error pages.

I don't want to discard this idea, though. What would you replace them with?

[2016-04-29 16:11] EvanHahn commented on #116
@boysmovie Any luck?

[2016-04-29 17:26] naugtur commented on #120
It's a common practice and a requirement in some companies that have a person responsible for security audits :)

What I want to do addresses point 2 from the post you linked to. Along with disabling x-powered-by it prevents less-prepared hackers from guessing your server.

I wanted to write a separate lib for hardening express that would wrap around helmet, but that's much worse than contributing

[2016-04-29 17:58] EvanHahn commented on #120
I think this is a good idea and something we should recommend in the readme, but it feels a bit outside of Helmet's scope.

Perhaps we could link to a blog post or other module?

[2016-04-29 18:14] #112 closed

[2016-04-29 18:14] #113 closed

[2016-04-29 18:24] EvanHahn commented on #113
This is now in `helmet@2.0.0`.

[2016-04-29 18:24] EvanHahn commented on #112
This is now in `helmet@2.0.0`.

[2016-04-29 18:36] ajinabraham opened #121 "Add support for SameSite cookie"
The new security cookie attribute is available in browsers.
Here is the RFC: https://tools.ietf.org/html/draft-west-first-party-cookies-06

[2016-04-29 23:09] EvanHahn commented on #121
A quick look at this (sorry, I'm on my phone) makes this look like it'd be better suited to a cookie-setting library. I'm sure I'm missing a lot, though--does that seem right to you?

[2016-04-30 02:13] binarykitchen opened #122 "TypeError: helmet.xframe is not a function"
Just bumped to v2 and in Changelog xframe is nowhere mentioned.

[code]

what's missing?

[2016-04-30 06:26] julien-f commented on #112
Thank you :)

[2016-04-30 12:19] ajinabraham commented on #121
Ok I noticed that you are not supporting `httpOnly` and `Secure` attributes for cookie either.
So helmet is more like it provides security headers globally to all the routes of the application. The case of cookie is different as attributes needs to be set based on the priority of the cookie or the functionality of the app.

Closing this.

[2016-04-30 12:19] #121 closed

[2016-04-30 14:49] EvanHahn commented on #121
Yes, exactly.

If there's something we should recommend in the readme, let me know!

[2016-04-30 14:53] EvanHahn commented on #122
This is mentioned in [the 2.0.0 changelog](https://github.com/helmetjs/helmet/blob/master/HISTORY.md#200--2016-04-29) but should probably have been better clarified.

Try using `helmet.frameguard` instead.

[2016-05-02 06:41] naugtur commented on #120
Ok, I'll put it up somewhere and let you know.

[2016-05-02 06:41] #120 closed

[2016-05-10 02:36] titoesteves opened #123 "Helmet and nginx"
Are there any known issues with using helmet and nginx? As it stands now, my site will not load if I have helmet and nginx enabled. If I disable either helmet or nginx, the site loads fine. However, when I have both enabled, my site does not load. Is there anything special that needs to be configured in nginx in order for helmet to work with it?

[2016-05-10 02:57] EvanHahn commented on #123
I don't know anything about this but am curious as to the solution.

[2016-05-18 22:52] EvanHahn commented on #123
My guess is that this problem would happen with other HTTP headers, too. Could you try setting a random header in your Express app and seeing if this still persists?

Something like this might work to set a random header:

[code]

[2016-05-18 22:53] EvanHahn commented on #122
@binarykitchen Did that fix work for you?

[2016-05-18 22:53] EvanHahn commented on #116
I'm going to close this because it's been over a month since I've heard a response. Happy to reopen this issue if it's still a problem!

[2016-05-18 22:53] #116 closed

[2016-05-18 22:54] binarykitchen commented on #122
yes

[2016-05-18 22:54] #122 closed

[2016-05-18 23:00] EvanHahn commented on #122
👍. Let me know if you run into other issues!

[2016-05-18 23:02] titoesteves commented on #123
It seems to be working. Unfortunately I am not sure why. Feel free to close. Thanks for the reply

[2016-05-18 23:02] EvanHahn commented on #123
Will do! Let me know if there are other issues you run into.

[2016-05-18 23:02] #123 closed

[2016-05-29 17:25] EvanHahn commented on #115
@binarykitchen Did this get resolved?

[2016-05-29 22:08] binarykitchen commented on #115
the 3 months aren't over yet, so can't say. ping me again end of june.

[2016-06-11 00:57] aralroca commented on #122
I have this code:

    const SixMonths = 15778476000;

    app.use(helmet.xframe());
    app.use(helmet.xssFilter());
    app.use(helmet.nosniff());
    app.use(helmet.ienoopen());
    app.use(helmet.hsts({
      "maxAge": SixMonths,
      "includeSubdomains": true,
      "force": true
    }));
    app.disable("x-powered-by");

After `TypeError: helmet.xframe is not a function` issue, I changed th

[2016-06-11 22:55] EvanHahn commented on #122
@aralroca Try this:

[code]

[2016-06-23 14:26] maasencioh commented on #105
Hi @EvanHahn, I will like to help, but the idea will be to make an app with all the vulnerabilities or a project for each vulnerability?

[2016-06-23 14:30] evilpacket commented on #105
The goal is to make it as simple as possible so that devs can understand by example why it's bad.

Writing good, bad / exploitable code can be difficult as most examples are contrived. I think either approach is valid as long as they are easy to maintain and simple to understand.

Adam

[2016-06-29 17:36] EvanHahn commented on #115
@binarykitchen Any updates?

[2016-06-30 09:15] binarykitchen commented on #115
arrgh, still does not work on firefox and am seeing

[code]

[2016-07-01 08:46] EvanHahn commented on #115
Could you set the max age to 0, visit the HTTPS URL, and then see if that fixes it?

[2016-07-04 08:48] binarykitchen commented on #115
Tried that, no difference. The request parameters remain unchanged. And Firefox still complains:

[code]

whereas Chrome doesn't complain. Huh?

[2016-07-04 14:14] EvanHahn commented on #115
Do you think this would work?

http://classically.me/blogs/how-clear-hsts-settings-major-browsers

[2016-07-05 07:50] binarykitchen commented on #115
thanks but that link is pretty old and `about:permissions` seems not to work on latest firefox :/

[2016-07-05 11:00] EvanHahn commented on #115
What about this? http://superuser.com/questions/539580/how-can-i-remove-a-website-accidentally-added-to-firefoxs-list-of-hsts-sites

Sorry I can't be more helpful here.

[2016-07-06 09:14] binarykitchen commented on #115
Ahhh, finally I cracked that b**ch. That link helped. All I had to do was to edit SiteSecurityServiceState.txt .... phew

[2016-07-06 11:06] EvanHahn commented on #115
Fantastic! Sorry this plagued you for so long.

[2016-07-14 23:44] titoesteves opened #126 "Helmet and nginx best practices"
Currently I have an express app behind an nginx load balancer.

I am curious to know what is the best practice when it comes to setting security policies such as CSP and http security headers such as HSTS? Should they be configured within my express.js application with helmetjs? Or is it best practice to configure them in nginx?

Does the helmetjs team recommend setting security in nginx or expres

[2016-07-15 06:29] EvanHahn commented on #126
This is a good question and I don't know the answer.

My gut says to use nginx to set headers that never change because it's probably faster. Some headers, like CSP, have some logic required on the incoming request, so they shouldn't be set by nginx.

I don't know much about this, though—what do others think?

[2016-07-18 19:48] AubreyHewes commented on #126
Good question.

I use dokku(herokuish) to deploy a number of apps (dokku uses nginx as the balancer/app-proxy). I add security headers to the app-proxy (generic hsts policy + generic sec headers etc). This removes having to set these on the(every) application deployed.. keeping it dry. This entails a generic approach to sec (i.e. hsts does not include sub domains as an app could be on a subdomain)

[2016-07-19 17:08] titoesteves commented on #126
@AubreyHewes @EvanHahn thanks for your insights. I now have a better understanding of where I should implement my headers/policies. Feel free to close.

[2016-07-20 14:46] EvanHahn commented on #126
Will do. Feel free to open a new issue if something new comes up!

[2016-07-20 14:46] #126 closed

[2016-07-21 18:44] EvanHahn opened #127 "Update to helmet-csp@2"
See [the `helmet-csp` 2.0.0 milestone](https://github.com/helmetjs/csp/milestone/1).

- [x] Finish code (make sure to merge https://github.com/helmetjs/csp/pull/50)
- [x] Release `helmet-csp@2`
- [x] Update module in `package.json`
- [x] Update changelog
- [x] Update readme

[2016-07-21 18:57] EvanHahn opened #128 "Update to nocache@2"
See the [nocache 2.0.0 milestone](https://github.com/helmetjs/nocache/milestone/1).

- [x] Finish code
- [x] Release `nocache@2`
- [x] Update module in `package.json`
- [x] Update changelog
- [x] Update readme

[2016-07-21 18:58] EvanHahn opened #129 "Update to hsts@2"
See the [hsts@2 milestone](https://github.com/helmetjs/hsts/milestone/1).

- [x] Finish code
- [x] Release `hsts@2`
- [x] Update module in `package.json`
- [x] Update changelog
- [x] Update readme

[2016-07-21 19:02] EvanHahn opened #130 "Make Helmet better for contributors"
There are some code changes slated for 3.0.0, but my biggest goal for version 3 is to make Helmet easier for contributors other than me.

I am not an expert at this and would like help!

Some thoughts I have:
- Do I, as the lead maintainer, appear friendly? I try to be, but I fear I might come off as defensive or rude, and I'm _sure_ I come off as slow when I take a long time to respond. I do not

[2016-07-31 20:50] EvanHahn opened #131 "Add Referrer-Policy support"
See https://www.w3.org/TR/referrer-policy/#referrer-policy-header.

- [x] Finish code
- [x] Release `referrer-policy@1`
- [x] Add module to `package.json`
- [x] Update changelog
- [x] Update readme

[2016-07-31 22:49] EvanHahn commented on #131
See the new [referrer-policy module](https://github.com/helmetjs/referrer-policy).

[2016-08-30 04:36] prcongithub opened #132 "X-XSS Protection issue"
[code]
Getting this error in the google chrome console log after adding latest helmet-2.1.2 to an express-4.14.0

[2016-08-30 05:31] prcongithub commented on #132
Closing this. Not a helmet issue. It Seems, if we have the same header added on nginx, it messes up with the one set by helmet.

[2016-08-30 05:31] #132 closed

[2016-08-30 05:36] EvanHahn commented on #132
Let me know if you run into anything else!

[2016-09-06 13:08] omerts opened #133 "dynamic import breaking webpack"
Hello,

We are trying to make a webpack server bundle, which includes the needed packages inside the output file. The problem is that this package has dynamic requires, which cause webpack to throw a webpackMissingModule error.

Code the causes the error:
[code]

Webpack bundled this into:
[code]

[2016-09-07 14:54] EvanHahn commented on #133
`helmet@2.1.3` has been published to fix this issue! Let me know if you run into any problems.

[2016-09-07 14:54] #133 closed

[2016-09-12 14:23] eluizbr opened #134 "It does not work with Express 4.14.0 ?"
I use the following:

let express = require('express'),
    app = express(),

// Run Helmet
app.use(helmet());
app.use(helmet.hidePoweredBy());

In headers i'm still seeing:

X-Powered-By →Express

Where is my error?
That is an bug ?

Thanks!

[2016-09-13 02:11] syakiruzair opened #135 "504 error on POST requests through proxy"
I am not sure if this is bug or a misconfiguration at our side. It seems that this middleware is causing 504 error intermittently on POST requests through proxy. We are using this middleware on top of **connect** (https://github.com/senchalabs/connect) and the POST requests are proxied to another server by using **http-proxy-middleware** https://github.com/chimurai/http-proxy-middleware.

This iss

[2016-09-13 15:05] EvanHahn commented on #135
Could I see how you're using Helmet in your app? A code snippet would be perfect.

[2016-09-13 15:11] EvanHahn commented on #134
Hmm, I'm not seeing the same issue on Express 4.14.0 and Helmet 2.1.3.

Here's a full app file:

[code]

I didn't see the `X-Powered-By` header.

By the way, `helmet()` includes `helmet.hidePoweredBy()` so you don't need to use it separately.

Could you try using that app above and seeing if you spot the same bug?

[2016-09-13 16:21] eluizbr commented on #134
I tried this way too, but I did not have success.

thats is my complete app.js:

https://gist.github.com/eluizbr/1f3f8736a5619cda75cade2f01162397

Thanks...

[2016-09-14 02:23] syakiruzair commented on #135
This is just the general overview of the implementation. Hope it can help.

[code]

[2016-09-14 02:29] syakiruzair commented on #135
This is just the general overview of the implementation. Hope it can help.

[code]

[2016-09-14 14:23] EvanHahn commented on #134
Are the other Helmet headers (like `X-XSS-Protection`) set?

[2016-09-14 14:26] eluizbr commented on #134
All headers...

Connection →keep-alive
Content-Length →264
Content-Type →application/json; charset=utf-8
Date →Wed, 14 Sep 2016 14:25:55 GMT
ETag →W/"108-p3Qqn2bAKWUiomJzRGr/3Q"
X-Content-Type-Options →nosniff
X-DNS-Prefetch-Control →off
X-Download-Options →noopen
X-Frame-Options →SAMEORIGIN
X-Powered-By →Express
X-XSS-Protection →1; mode=block

[2016-09-14 22:44] EvanHahn commented on #134
The fact that those other headers exist is good news—it means that Helmet isn't completely broken.

Are your route handlers (like `usersRouteGet`) full Express apps (made with `express()`) or routers (made with `express.Router()`)?

[2016-09-14 22:47] EvanHahn commented on #135
I don't see anything yet...

A couple of questions:

1. Did you say that you see these 504 errors happen when `helmet` is removed?
1. Are you able to replicate these errors locally? If so, are you able to see any stack traces or anything?

[2016-09-15 05:00] syakiruzair commented on #135
1. No, the 504 errors happen when **helmet** is used. They do not happen when I comment it out. What I meant was, they only happen during POST requests.
2. These errors happen locally during development. I did not see any stack trace in **Node** console nor coming from the backend **API**.

[2016-09-16 15:59] EvanHahn commented on #135
Could you try adding an error handling middleware to the end of your file? Maybe something like this:

[code]

You might be able to see the error by doing that.

[2016-09-16 18:51] EvanHahn opened #136 "Update to frameguard@3"
See the [frameguard@3 PR](https://github.com/helmetjs/frameguard/pull/11).

- [x] Finish code
- [x] Release `frameguard@3`
- [x] Update module in `package.json`
- [x] Update changelog
- [x] Update readme

[2016-09-16 19:56] EvanHahn commented on #131
Added in `helmet@2.2.0`.

[2016-09-16 19:56] #131 closed

[2016-09-19 14:59] syakiruzair commented on #135
I cannot reproduce the problem anymore. It seems that the problem was from our side and it got fixed somehow. I notice that when it happened before, the POST requests took a long time before receiving 504 errors. Now POST requests through **helmet** is working fine. Thank you for your help.

[2016-09-20 17:29] EvanHahn commented on #135
Good to know things are working fine!

May I close this issue?

[2016-09-22 05:42] syakiruzair commented on #135
Yes please. Thank you.

[2016-09-22 13:44] EvanHahn commented on #135
Will do.

Feel free to open a new issue if you run into any problems!

[2016-09-22 13:44] #135 closed

[2016-09-22 15:39] EvanHahn opened #137 "Add link to Go's "secure" package"
It's similar to Helmet and we should add it to the "see also".

https://github.com/unrolled/secure

[2016-09-29 03:12] electic opened #138 "Express 4.14 and React"
Hi,

I am using Express 4.14, React, and React Router. I am not seeing anything work. Am I doing something wrong? I have followed the directions to the t so I must be missing something obvious.

R

[2016-09-29 09:17] electic commented on #138
nevermind...

[2016-09-29 09:17] #138 closed

[2016-09-30 20:33] EvanHahn commented on #134
@eluizbr Bumping this—are you still having problems?

[2016-09-30 21:36] EvanHahn opened #139 "Update to hpkp@2"
hpkp needs to finish https://github.com/helmetjs/hpkp/issues/12.

- [x] Finish code
- [x] Release `hpkp@2`
- [x] Update module in `package.json`
- [x] Update changelog
- [x] Update readme

[2016-10-01 17:24] EvanHahn opened #140 "Add X-Permitted-Cross-Domain-Policies middleware, off by default"
See [this page on OWASP](https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#X-Permitted-Cross-Domain-Policies).

Could be useful for protecting against some Flash-related attacks.

[2016-10-11 16:00] fiznool commented on #134
I'm experiencing the same issue. My route handlers are pretty much exclusively created with `express.Router()` - does this mean I need to configure helmet in some other manner?

[2016-10-11 16:07] EvanHahn commented on #134
@fiznool Are you doing `app.use(helmet())` before the static file middleware?

[2016-10-11 16:31] fiznool commented on #134
No, afterwards... That's the issue?

[2016-10-11 16:35] eluizbr commented on #134
@EvanHahn Is, i still have this issue. Sorry about delay.

[2016-10-11 18:15] EvanHahn commented on #134
You should be doing something like this with your static middleware:

[code]

Let me know if that reordering helps.

[2016-10-11 18:44] fiznool commented on #134
@EvanHahn thanks that sorted it! :smile:

[2016-10-11 20:34] EvanHahn commented on #134
@eluizbr Does reordering solve your issue?

[2016-10-17 20:17] atjonathan opened #141 "Suggestion: Move to using ES6 in examples"
Basically all we would need to change is `var` to `const` and add `"use strict"`. We shouldn't use the new `import` syntax yet because that requires build systems like webpack.

If you are wanting to stick with ES5, to support older versions of Node, then no problem!

[2016-10-17 22:32] EvanHahn commented on #141
This is something I've thought about and have gone back and forth on. But I think I'll stick with ES5 for now, until the `import` syntax is finalized.

Does that sound okay?

[2016-10-18 15:51] atjonathan commented on #141
Sure!

[2016-10-18 15:51] #141 closed

[2016-10-26 09:15] aralroca commented on #122
Same error:

`    TypeError: helmet.nosniff is not a function`

[2016-10-26 14:29] EvanHahn commented on #122
It looks like the S needs to be capitalized. It should be `noSniff`, not `nosniff`.

[2016-10-28 20:53] #128 closed

[2016-10-28 20:53] #129 closed

[2016-10-28 20:53] #136 closed

[2016-10-28 20:53] #139 closed

[2016-10-28 20:53] #127 closed

[2016-12-01 17:17] ericofranco commented on #122
`app.use(helmet.noSniff())  `  worked here, thank you!

[2016-12-05 19:50] matt-dalton commented on #134
I am having the same problem here but reordering isn't helping. You mentioned above there was a difference between 'express()' routers and 'express.Router()'s - could you elaborate on this? I am using `const router = express.Router()` - is this not what I should be doing?

[2016-12-06 00:11] EvanHahn commented on #134
@matt-dalton Could you describe your problem in more detail (ideally with code snippets)? Feel free to open a new issue if you think that'll help.

[2016-12-06 08:55] matt-dalton commented on #134
Yeah sure...here's my `server.js`:

    if (process.env.NODE_ENV === undefined) { const config = require('./config') } //this is just env variables
    const express = require('express')
    const path = require('path')
    const bodyParser = require('body-parser')
    const helmet = require('helmet')
    const app = express()
    app.use(helmet())

    const routes = require('./routes.js')

    a

[2016-12-09 18:43] EvanHahn commented on #134
@matt-dalton Is the only issue that you're seeing `X-Powered-By: Express`?

I put together a [small test app](https://github.com/EvanHahn/helmet-issue134) that's similar to what you posted and I couldn't reproduce the problem you're seeing.

[2016-12-19 18:07] philiiiiiipp commented on #134
Hey, I am experiencing exactly the same issue but only if I am running it in my dev environment. In production I do not see the X-Powered-By header. Maybe this has something to do with it?
[code]

[2016-12-19 18:38] EvanHahn commented on #134
The `webpack-dev-server` might be the culprit there, though I'm not sure.

You should also be able to do this:

[code]

[2016-12-20 08:14] philiiiiiipp commented on #134
Hmm no that also does not seem to change it.
[code]
But in my chrome networks tab I still see it.
[code]
I suppose this is actually not an issue with helmet but express or likely the dev-server, are you using this as well @matt-dalton @eluizbr ?

[2016-12-20 08:54] matt-dalton commented on #134
I was just thinking it's possible that might be it. Over the next couple of days I will try pushing `app.disable('x-powered-by')` to a production-like environment and see if that fixes it.

Sorry, I did mean to reply to your demo sooner @EvanHahn , as I tried it and also couldn't see the problem. I tried cutting out each bit of my code piece-by-piece to see if I could remove what was 'adding' the

[2016-12-20 12:05] EvanHahn commented on #134
If the header is being added even when you add `app.disable('x-powered-by')`, I think it's very unlikely that this is a problem with Helmet.

Happy to help debug, but do you all mind if I close this issue?

[2016-12-20 12:30] matt-dalton commented on #134
Well that's what I mean - was going to check if it does disappear when I move to prod which would imply webpack-dev-server was the culprit. I don't know enough about how helmet works to agree/disagree with your statement, but happy for you to use your judgement. It definitely still appears in development when I add `app.disable('x-powered-by')`, so you're probably right.

[2016-12-20 15:04] EvanHahn commented on #134
Okay. I'm going to close this issue but I'm happy to help debug further.

[2016-12-20 15:04] #134 closed

[2016-12-21 12:39] with0out commented on #134
I had same problem with express 4.14.0, with both
[code]
set, response still shows x-powered-by.
Then I followed the [doc](https://helmetjs.github.io/docs/hide-powered-by/) and set this
[code]
and the header changed accordingly, don't know why it behaves like this...

[2016-12-21 16:07] EvanHahn commented on #134
@with0out Are you using a "vanilla" Express app?

[2016-12-22 02:12] with0out commented on #134
@EvanHahn My little project started with [this](https://github.com/madhums/node-express-mongoose) boilerplate, not very "vanilla" per se.

[2016-12-22 02:51] EvanHahn commented on #134
@with0out Would you be able to put together a simple app that can reproduce this problem?

[2016-12-24 02:03] with0out commented on #134
@EvanHahn I just tested, 2 lines of change from their [repo ](https://github.com/madhums/node-express-mongoose) would reproduce this problem.
Inside config/express.js:
[code]

[2016-12-24 14:39] EvanHahn commented on #134
@with0out Would you be able to make a pull request on their repo to fix that?

You can also do `app.disable('x-powered-by)` to remove this header without Helmet.

[2017-01-05 19:27] Jonas-Drotleff opened #144 "Add a note to the documentation that helmet should be called first"
The order of middlewares in Express is very important as express is going through them sequentially. Helmet is preventing various vulnerabilities so it should be the first middleware to be called.

You should explicitly point this out in your documentation.

For more information see [this](http://stackoverflow.com/questions/41492312/middleware-order-express) stackoverflow post,

[2017-01-05 19:48] #144 closed

[2017-01-11 01:34] andrao opened #145 "HSTS divides maxAge by 1000"
The [documentation](https://helmetjs.github.io/docs/hsts/) suggests that the `maxAge` parameter be given in seconds. The [hsts](https://www.npmjs.com/package/hsts) package however divides the input by 1000.

**hsts** _index.js_, version 1.0.0:
[code]

[2017-01-11 01:53] andrao commented on #145
Ah, I see that this has been addressed in version 3.3.0.

I just now ran a fresh `npm install --save helmet` but was given 2.3.0. Strange.

[2017-01-11 14:56] EvanHahn commented on #145
That's odd...does it happen when you do it again? Was there a version specified in your package.json?

In any case, do you mind if I close this issue?

[2017-01-11 15:14] andrao commented on #145
This is from helmet 2.3.0, which depends on hsts 1.0.0.

And yes, it may be closed.

[2017-01-11 15:14] #145 closed

[2017-01-11 16:10] EvanHahn commented on #145
Sounds good. Feel free to open an issue if you run into any other problems!

[2017-01-13 00:18] JTCE commented on #134
Just to expand on the discussion above.....I've also run into this issue on my local development machine. app.disable('x-powered-by') and app.use(helmet.hidePoweredBy()) does not remove this header. Changing it with helmet does not remove it but only changes the value. Very puzzling indeed!

[2017-01-13 00:40] JTCE commented on #134
Just thought I'd come back and mention removing etag does work via app.disable('etag'); Not sure why it doesn't work with x-powered-by.

[2017-01-13 19:29] EvanHahn commented on #134
If the `X-Powered-By` header is being added without using Helmet (with `app.disable('x-powered-by')`), I'm confident this isn't an issue with Helmet but a problem elsewhere. Is there anything "between" you and the Express server, like nginx or some proxy?

[2017-01-13 23:40] EvanHahn opened #146 "Drop support for Node <10"
This will involve doing the following in all libraries:

- Updating the `engines` field in `package.json`
- Removing the versions from `.travis.yml`

[2017-01-13 23:41] EvanHahn commented on #146
There's no real rush on this—just something to keep in mind for the next major version.

[2017-01-14 00:00] EvanHahn commented on #137
Added in <https://github.com/helmetjs/helmetjs.github.io/commit/c50dff5a38882cf6abffb808d855d6d7d4004424>.

[2017-01-14 00:00] #137 closed

[2017-01-14 00:14] JTCE commented on #134
@EvanHahn I'm in agreement this isn't an issue with Helmet. I'll be glad to provide an update if I find the root cause but with deadlines looming it may be a while. Thanks for the great package, works like a charm otherwise!

[2017-01-14 15:28] EvanHahn commented on #134
@JTCE Let me know what you find!

[2017-02-22 18:37] ShahNewazKhan commented on #122
Another one I came across that I had to change from `app.use(helmet.ienoopen())` to `app.use(helmet.ieNoOpen());`

[2017-03-31 20:57] joostdebruijn opened #147 "Adding support for Expect-CT header"
At this moment browsers (at least Chrome and Firefox) are implementing support for the Expect-CT header, which enforces browsers to check if there are public transparency log entries of the used website certificate. I think it would be great to add support for this header to Helmet!

The [(draft) specification of the header](https://datatracker.ietf.org/doc/draft-stark-expect-ct) is available and

[2017-04-03 16:40] EvanHahn commented on #147
This is the first I've heard of this header—looks like a good candidate for Helmet. I'll do a little more reading and maybe get started on another submodule.

[2017-04-03 16:40] EvanHahn commented on #130
This issue has been open for awhile and hasn't had any movement. Closing.

[2017-04-03 16:40] #130 closed

[2017-04-04 21:40] EvanHahn commented on #147
[Here's a "first draft" of the module](https://github.com/helmetjs/expect-ct), not yet published to npm.

If that looks okay to you, I'll publish it and add it to Helmet.

[2017-04-05 07:09] joostdebruijn commented on #147
Looks great! I did also a few tests within a simple Express-application and it worked well.

[2017-04-06 18:10] EvanHahn commented on #147
Great!

I may be a bit, but I'll release that when I get a chance.

[2017-05-04 22:49] EvanHahn commented on #147
Published! You can find the module in `helmet@3.6.0` under `helmet.expectCt` or as a standalone npm module with `npm install expect-ct`.

[2017-05-04 22:49] #147 closed

[2017-05-22 15:56] EvanHahn commented on #105
I'm going to close this issue because (1) there hasn't been movement on it in months (2) [our docs](https://helmetjs.github.io/docs/) hopefully cover a lot of this need. I don't think this is ever going to get done, unfortunately.

[2017-05-22 15:56] #105 closed

[2017-05-22 20:58] nickclaw opened #150 "Add middleware to check Origin/Header for CSRF attacks"
As mentioned by [OWASP](https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet), a simple CSRF defense is simply by checking if the Origin/Referrer headers match your site.

It's fairly simple to implement and might be a good fit for a non-default module.

[2017-05-23 01:39] EvanHahn commented on #150
I like this but don't think it's in Helmet's scope. Helmet is meant to set
HTTP headers but not to check them.

If you're interested, I'm happy to collaborate with you on a module. Is
that something you'd be interested in?

[2017-05-23 16:28] nickclaw commented on #150
My confusion, it's a fairly simple module so I'll probably end up publishing something soon. If you ever think about expanding Helmet's scope let me know!

[2017-05-23 16:28] #150 closed

[2017-05-23 17:42] EvanHahn commented on #150
Sounds good! Let me know if you want _any_ help on the new module—I think it's a good idea. Feel free to mention me on an issue or email me at <me@evanhahn.com>.

[2017-05-29 13:54] santaclauze opened #151 "Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
The warning has been showing up and led to your library.

![helmet-warning](https://cloud.githubusercontent.com/assets/17665998/26552158/258cffa2-44b0-11e7-8925-e0b7c31137e3.png)

The only place that indicates one of my files is:
[code]
All indications seem to point to the Helmet library.

How can we solve this?

[2017-05-29 15:55] EvanHahn commented on #151
This is almost certainly an issue on [react-helmet](https://github.com/nfl/react-helmet) and not this library—you're not the first to be confused by the names.

Could you open this issue over there instead?

[2017-05-29 15:55] #151 closed

[2017-05-30 10:53] santaclauze commented on #151
My bad, sorry about that -_-

[2017-05-30 12:10] EvanHahn commented on #151
No worries!

[2017-06-18 13:05] sfabriece opened #153 "[feature request] Hapi support"
It would be nice to add [Hapi](https://github.com/hapijs/hapi) support.

I know hapi already comes with some of the stuff provided here, but not all of them.

[2017-06-18 16:13] EvanHahn commented on #153
This would be interesting. I know next to nothing about Hapi, so I don't know how we'd add this as a plugin.

Because Helmet uses a "traditional" Node callback structure, I'd imagine it could be added.

Do you know anything about Hapi plugins?

[2017-06-18 22:42] sfabriece commented on #153
Yes I do, I could try to put together a PR when I get time.

[2017-06-19 00:09] EvanHahn commented on #153
It might be worth making an entirely new package like `hapi-helmet`. I'm happy to help you work on it if you want!

[2017-06-19 10:56] omryr opened #154 "is hsts default?"
when I add the following:
app.use(helmet());
and run the code, i do not get hsts as default header, if i explicitly call it, it does work.
from what I understand in the list it says it should be default, is this normal behavior?

[2017-06-19 16:27] EvanHahn commented on #154
The header is only set when `req.secure` is true, which is likely not so in development. Does that sound like what's happening?

[2017-07-04 15:28] timothydlee opened #155 "Brotli bundles not being recognized"
Sorry if this is not the appropriate avenue to discuss this, but I'm having issues trying to implement Helmet in a React application. We're using Webpack 3.0 and we're chunking as well as compressing our JS bundle using the Brotli compression format. I'm getting these similar errors:

`Refused to execute script from 'http://localhost:3000/js/chunks.js.br' because its MIME type ('application/octet-

[2017-07-04 16:28] EvanHahn commented on #155
I'm totally unfamiliar with Brotli, so please let me know if this is totally wrong:

The error you're getting seems to be because you're sending a `application/octet-stream` MIME type (or perhaps a `.js.br`) file extension, which I _think_ doesn't have much to do with Helmet, though I'm not sure.

Does this problem happen when you remove the use of `helmet.contentSecurityPolicy`?

[2017-07-05 02:07] timothydlee commented on #155
@EvanHahn, there must have been something wonky going on in the branch that I was initially implementing this in. I tried it on a clean branch from our prerelease and things worked much more smoothly. I'm not sure what was causing this issue, but it's no longer breaking. Thanks for the help though!

[2017-07-05 02:07] #155 closed

[2017-07-05 02:50] EvanHahn commented on #155
Glad I could help in some small way!

[2017-07-19 03:35] selfagency opened #156 "report-to"
I got this when validating my HTML. Time to add the `report-to` directive?

`Warning: Content-Security-Policy HTTP header: Bad content security policy: A draft of the next version of CSP deprecates report-uri in favour of a new report-to directive.`

[2017-07-19 13:42] EvanHahn commented on #156
Thanks for letting me know about this. I'll take a look.

If you see any resources about this (specs, helpful blog posts), I'd appreciate a link here, though that's something I can do on my own time too.

[2017-07-19 14:38] selfagency commented on #156
https://www.w3.org/TR/CSP/

[2017-07-20 15:04] frankdavidcorona commented on #134
I use this configuration:
[code]
And have this out:
[code]

[2017-07-20 15:16] EvanHahn commented on #134
@frankdavidcorona That looks right to me!

[2017-07-21 14:48] EvanHahn commented on #156
Moving this to [csp#63](https://github.com/helmetjs/csp/issues/63).

[2017-07-21 14:48] #156 closed

[2017-07-21 21:17] EvanHahn commented on #153
Because this is out of Helmet's scope, I'm going to close this issue. But if you'd like help on `hapi-helmet` (even if you have no idea where to start!), feel free to reply here or email me at <me@evanhahn.com>.

[2017-07-21 21:17] #153 closed

[2017-07-21 21:18] EvanHahn commented on #154
@omryr Helmet 3.8.0 should set the HSTS header by default. That's almost certainly what's causing your problem here. Try updating and let me know if you are still experiencing the problem.

[2017-07-21 21:18] #154 closed

[2017-08-06 21:11] NicolaiSchmid opened #157 "HTTP OPTIONS Request not secured"
Hey, I've noticed a behaviour of my express server, which might be a bug in Helmet.
When Chrome sends a HTTP OPTIONS request to my server, all of helmets features are not invoked. Which means an `x-powered-by` tag is exposed, no `hsts` header is set, etc.
Is this an expected behaviour, or is this a bug?

[2017-08-06 22:47] EvanHahn commented on #157
That's surprising!

I'm away from a computer right now. Do you know if this happens with a "vanilla" Express app? Would you be able to make a simple app and see if this behavior occurs?

[2017-08-07 10:51] NicolaiSchmid commented on #157
Using this code
[code]
with cURL I get this response:
[code]
which seems fine.

Searching around in my own code, I found that using `app.use(helmet())` after using the [`expressjs/cors`](https://github.com/expressjs/cors) middleware was causing the issue. When I switched the order around, everything works fine and as expected

[2017-08-07 10:51] #157 closed

[2017-08-07 13:42] EvanHahn commented on #157
Sounds good! Please feel free to open another issue if you see something else wrong.

[2017-08-11 17:36] EvanHahn commented on #140
I'm going to close this. While it may be a good idea, Helmet [kinda used to do this](https://github.com/helmetjs/crossdomain) and we stopped including at all, and Flash is on its way out.

[2017-08-28 21:46] hawleye opened #158 "custom content-security-policy scriptSrc for express.router()"
I am using express's router object, instead of just app.use(''/", ..., which I saw mentioned in another issue could be an issue.

I would like to add 'sha256-#hash#' to my csp header, only on a specific page as it represents an inline script I havn't figured out how to get around using. this hash value will be different for other pages.
I tried the example used here: https://stackoverflow.com/ques

[2017-08-28 22:11] EvanHahn commented on #158
Does something like your second example not work for you?

[code]

[2017-08-28 22:24] hawleye commented on #158
I believe that matches my first example (the middle one). I may be missing something

[2017-08-28 22:42] #158 closed

[2017-08-29 12:39] EvanHahn commented on #158
Glad it worked!

[2017-09-06 16:07] hawleye opened #159 "chrome csp not recognizing 'self'"
Sorry to bother you again, but I can't figure out what I am doing wrong. Google only directs me toward chrome extensions or downloadable app development, not website development.

**For a form page with custom js**
using:
[code]
in proper route:
`.post(cspFillScripts, function (req, res, next) {...`

produces:

for each source, followed by:

for each request. this leaves my page as plain html, no

[2017-09-06 16:37] EvanHahn commented on #159
The error seems to be that you're writing `'"self"' ` instead of `"'self'"` (note the quotes). Could you try that and see if that works?

[2017-09-06 16:54] hawleye commented on #159
well I had played with it only because of getting this error to begin with, so I have verified all are double, single, self, single, double. the only one I had to change was script-src "'self'", yet somehow that fixed the problem with default-src. it now only presents the invalid error for script-src and frame-ancestors. it allowed css and image, but still is blocking all js.

[2017-09-06 16:59] hawleye commented on #159
both chromium and firefox appear to have accepted the csp swimmingly. It's just chrome (and maybe IE/Edge, as I can't test that on linux) that I am encountering this, if that matters.

[2017-09-06 17:40] EvanHahn commented on #159
Hmm, that's odd.

Could you open the Network tab in an inspector (Chrome and Firefox should both have this tab) and tell me what the `Content-Security-Policy` header is?

[2017-09-06 17:51] hawleye commented on #159
Content-Security-Policy: default-src 'self'; script-src 'self' 'sha256-nsMhNx3hqXGnbmxJ+NiLNcusEXVvuMQqUopRWCGZhh8='; frame-ancestors 'none'

[2017-09-06 21:05] followbl opened #160 "Add flow support"
hey @EvanHahn thanks for helmetjs

made this PR for helmet adding in flow-type support...not sure how into it you are, but figured wouldn't be bad to at least have your 👀  on it. It's my first flow-typed contribution so if you see anything worth mentioning, holler...otherwise I'll close this when it's merged 😺

https://github.com/flowtype/flow-typed/pull/1228

[2017-09-06 23:46] EvanHahn commented on #160
I'm not an expert at Flow but it seems alright!

Perhaps worth noting that Helmet isn't exclusively for Express—it should work with any `IncomingRequests` and `ServerResponse`s from the [built-in http module](https://nodejs.org/api/http.html). I think what you have is fine, though.

[2017-09-07 04:44] followbl commented on #160
that is 100% why you ask the owner! complete oversight on my part. thanks, let me refactor

[2017-09-07 14:18] EvanHahn commented on #159
1. Do you still see the `The source list for Content Security Policy directive 'default-src' contains an invalid source: '"self"'. It will be ignored` error with that policy?
1. Does _nothing_ load when you have that CSP? It seems like things should be able to load from your development domain, which I assume is `localhost:3000`.

[2017-09-07 14:57] hawleye commented on #159
current error list:

it is loading all css files and .gif now, after changing the script-src 'self'. all external js is blocked. it appears that the js represented by the sha256 hash has been allowed to go through, as it is found in the elements page.
I am unsure why the script-src error was blocking the css and image, and why the external js is still being blocked.

[2017-09-08 21:11] EvanHahn commented on #159
Those first two errors look like they're happening because of `"self"` instead of `'self'` and the same for `'none'`.

How are you loading your scripts?

[code]

[2017-09-11 13:30] hawleye commented on #159
my script declarations look like

`<script src='/libs/clock.js'></script>`

because of
[code]
&
`app.use(express.static(__dirname + '/public'));`

and my (shortened) file structure is

[2017-09-11 13:46] hawleye commented on #159
I have no idea why, because I didn't remove the csp yet this morning. But I ran it again to study the error before removing the csp so I could continue development. The errors are gone. I have no idea if/when they will come back.

It may be related to a problem on Friday in which all my browsers kept crashing. I had to leave the computer off all weekend, since both restarting and full shutdown-tur

[2017-09-11 13:47] EvanHahn commented on #159
That is confusing!

It sounds like the problems are gone. If they are, would you mind closing this issue?

[2017-09-11 13:58] hawleye commented on #159
thanks so much for all your help

[2017-09-11 13:58] #159 closed

[2017-09-11 14:14] EvanHahn commented on #159
No problem! Glad everything worked out.

Feel free to open a new issue if you encounter other problems.

[2017-09-27 14:10] EvanHahn commented on #160
@followbl Do you mind if I close this issue because it's not strictly part of Helmet? Happy to continue the discussion here if I can help in some way.

[2017-10-02 21:25] followbl commented on #160
of course. thanks for your input, still need to finish it up, but isn't an issue on your part anymore.

[2017-10-02 21:25] #160 closed

[2017-10-03 15:44] EvanHahn commented on #160
Sounds good.

Feel free to comment on this issue if I can help further!

[2017-10-22 22:47] chaddjohnson opened #162 "Allow functions to be passed for middleware options"
Hi! Thanks for the great middleware.

It would be great if it was possible to pass a function in addition to a boolean for each of the options accepted by `helmet()` so that each middleware can be conditionally used with each request. For instance, I might want to check on each request whether `req.hostname` should be allowed, and if so, disable frameguard:

[code]

Looking at the existing code, i

[2017-10-23 14:27] EvanHahn commented on #162
Is this something you'd be able to accomplish with [conditional middleware](https://github.com/elliotttf/express-conditional-middleware)? I think not, but I want to see if it can be done another way.

[2017-11-09 16:59] Billy- opened #163 "Can't seem to disable frameguard on specific route"
I have helmet configured like this:

[code]

I also tried using `helmet({ frameguard: false })` but had the same result - I still get the `X-Frame-Options: SAMEORIGIN` header.

[2017-11-09 17:02] EvanHahn commented on #163
`app.use(helmet())` sets the `X-Frame-Options` header, and Helmet doesn't have any mechanisms for undoing these headers. You could do something like this:

[code]

Does that help?

[2017-11-09 17:05] Billy- commented on #163
Yes, thanks. And thanks for the unfathomably fast reply!

Is this not something we could add to helmet? I'd be happy to submit a PR.

[2017-11-09 17:13] EvanHahn commented on #163
It's something I've thought about but probably won't add. Conditional middleware in Express seems uncommon enough that it's not worth baking into the library. It seems like something that needs to be handled at the Express level—either built into Express or as a more general plugin. Does that make sense?

Gonna close this issue because your problem is solved, but lemme know if I am mistake and sho

[2017-11-09 17:13] #163 closed

[2017-11-09 17:48] Billy- commented on #163
I think you meant `res.removeHeader` rather than `req.removeHeader` ;)

No, not really sure why you would say that, but maybe I'm missing something?

Disabling further down the line seems like a perfectly valid use-case; turn it on as a blanket-statement, then turn it off only as an exception. Shouldn't be too hard to check if `action === false` in frameguard and if so `res.removeHeader('X-Frame-O

[2017-11-09 22:08] EvanHahn commented on #163
`res.removeHeader` is right—good catch.

Let's take the [body-parser](https://github.com/expressjs/body-parser) middleware as an example. (This is a contrived example but I hope it is demonstrative.) You might want to parse bodies on most routes, but not all—it can have performance implications.

Let's say you want to disable the body-parser middleware when rendering the `/about` page.

This is ba

[2017-12-06 19:01] subversivo58 opened #164 "Apply CSP inside callback on router middleware?"
I have a route that is accessed with a token that I need to fetch from the database.

As this default route is accessed by an `iframe` I want to apply the **CSP** `frame-ancestors` rule to the source pre-stored in the database

[code]

I'm getting a pending status of loading this `iframe` and after some time the error **"Failed to fetch"**.

It is possible?

[2017-12-07 15:49] EvanHahn commented on #164
I think what you have is close. Try changing your `helmet.contentSecurityPolicy` invocation to look like this:

[code]

Does that work for you?

[2017-12-07 16:19] subversivo58 commented on #164
Yes, this works fine. Thank you very much :+1:

I already used it directly on the route:

    router.get('/project/auth', helmet.contentSecurityPolicy({
        directives: {
            'frame-ancestors': ['https://example.com']
        }
    }), (req, res, next) => {
         // do stuff...
    })

When I moved to a midlleware to provide a source dynamically I was not aware of passing parameters

[2017-12-07 16:19] #164 closed

[2017-12-07 17:18] EvanHahn commented on #164
Good point.

I'll think about adding something to the docs.

[2017-12-20 16:20] EvanHahn commented on #162
@chaddjohnson Any updates on this?

[2017-12-20 18:32] chaddjohnson commented on #162
@EvanHahn No sir, I never got around to pursuing this :)

[2017-12-20 20:54] EvanHahn commented on #162
Okay. Do you feel like your problem has been resolved? If so, I'll close the issue. If not, I'll try to help!

[2017-12-20 20:58] chaddjohnson commented on #162
Yes, I'm good! Not worried about this any longer. It's a very low priority nice to have feature for me. If it becomes necessary, I'll refer back to this issue. Thanks for checking!

[2017-12-20 21:02] EvanHahn commented on #162
Sounds good! Feel free to comment here or open a new issue if anything comes up.

[2017-12-20 21:02] #162 closed

[2017-12-26 11:02] JAYiSON021 commented on #134
Make sure other instance of Express like your routes uses helmet.js

[code]

[2018-02-08 23:14] dodefey opened #166 "Empty array throws error, contradicts documentation"
Documentation for CSP (https://helmetjs.github.io/docs/csp/):
```objectSrc: [], // An empty array allows nothing through```
However it threw an error when I tried this.
```Error: object-src must have at least one value. To block everything, set object-src to ["'none'"].```

[2018-02-08 23:56] EvanHahn commented on #166
Thanks for reporting—I'll take a look at this soon.

(My suspicion: the docs are incorrect.)

[2018-02-09 15:21] EvanHahn commented on #166
This should be fixed in the docs. Thanks for reporting this!

[2018-02-09 15:21] #166 closed

[2018-04-10 18:32] Sawtaytoes opened #167 "Safe to disable X-FRAME-OPTIONS for Content Security Policy?"
Is it safe to disable `frameguard` and use `contentSecurityPolicy` instead? For some reason, Chrome is prioritizing `X-FRAME-OPTIONS`, and it doesn't have a way to allow an entire domain, only a specific URL.

This is the solution I came up with:
[code]

Since I have an iframe I'm using for authentication on a variety of same-domain (but not same-subdomain) sites, I'm looking for a way of replacin

[2018-04-10 21:26] EvanHahn commented on #167
I'm not exactly sure what your use case is here. `X-Frame-Options` is useful to prevent your page from being put _inside_ an iframe where `Content-Security-Policy` is useful to prevent errant iframes from being put on your page.

You could set [the `frame-ancestors` CSP directive](https://www.w3.org/TR/CSP2/#directive-frame-ancestors) in the iframe and the `frame-src` directive on the outer page.

[2018-04-26 09:04] Prinzhorn commented on #150
@nickclaw did you publish something? I just hacked together this middleware and wonder if there is something already out there that I could use instead?

[code]

[2018-05-04 06:48] Prinzhorn commented on #150
@nickclaw for our use-case we don't need the pattern matching I guess, because we can use the location of the page that is served (e.g. `req.hostname` etc.) and compare it with the referer and origin headers. However if you want to allow certain cross domain requests than you need more. But I'm not a fan of using regular expression for this and would rather have a whilelist to compare with and use

[2018-05-10 02:47] vprasanth opened #169 "Is helmet mostly for browser use cases?"
What I mean is, the headers being set, is the value mostly when the service is hit from a browser? If I'm working on endpoint to endpoint calls (eg. webhooks), whats the milage like?

[2018-05-11 22:47] EvanHahn commented on #169
Mostly made for browsers, though not entirely. Of the twelve Helmet middleware, there are a few that might have uses outside of browser-land:

- expectCt, hpkp, and hsts might be used by other HTTP clients
- hidePoweredBy removes a header that identifies that your app uses Express, which might deter hackers slightly
- noCache disables caching, which some non-browsers do

Does that answer your ques

[2018-05-16 23:42] ryanfitzer commented on #167
@EvanHahn

From what I understand, your explanation is incorrect. The [frame-ancestors](https://www.w3.org/TR/CSP2/#frame-ancestors-and-frame-options) docs say:

[2018-05-17 14:14] EvanHahn commented on #167
Yes, I think you're correct. CSP's `frame-ancestors` is an improved version of the `X-Frame-Options` header. I think its main disadvantage would be legacy browser support, but I think that's probably minor.

Does that help?

[2018-05-17 23:53] vprasanth commented on #169
That makes sense, yes this answers my question. Thank you!

[2018-05-17 23:53] #169 closed

[2018-06-04 10:52] dajomu opened #170 "Typescript definition missing for referrerPolicy on main config"
Hi,

I'm configuring helmet to have a referrerPolicy.
I thought that because I wanted to make a number of config changes I would use helmet with a configuration object, rather than a set of things like `app.use(helmet.referrerPolicy({ policy: 'same-origin' }));`.

So right now I am using -
[code]

But I'm getting a typescript error for the referrerPolicy because it isn't defined in DefinitelyTyped

[2018-06-04 12:07] BlueHatbRit commented on #170
As one of the contributors to those DT types, that PR and it looks good, this should make the types more complete on there 👍

[2018-06-04 13:40] EvanHahn commented on #170
Your PR and code style look good! Helmet supports both configuration styles (`app.use(helmet({...}))` and `app.use(helmet.hsts({...}))`.

I'm going to close this issue, but let me know if you have more questions or would like me to reopen it.

[2018-06-04 13:40] #170 closed

[2018-06-09 21:57] lsbyerley opened #171 "blob localhost img src blocked"
I'm generating a blob image dynamically in a vue application and using the following content security policy:

    imgSrc: ["'self'", "blob:", "www.google-analytics.com", "placehold.it"],

A blob img src such as `blob:http://localhost:3000/b07860fe-43cf-4315-b929-15244dafe3b1` is getting blocked. What's the appropriate way to allow this img src?

[2018-06-12 21:05] EvanHahn commented on #171
That looks like a problem with your "blob:" URL.

I think it you should set the img src to
"blob:b07860fe-43cf-4315-b929-15244dafe3b1" (or whatever the result of
URL.createObjectURL(yourBlob) is) without the HTTP and localhost
stuff.

Does that help?

[2018-06-12 21:27] lsbyerley commented on #171
Meant to circle back to this, but it was actually unrelated to helmet on the server side. I needed to add a CSP meta tag like so:

    <meta http-equiv="Content-Security-Policy" content="img-src 'self' blob: data:">

I'm thinking because the blob was generated client side.

[2018-06-12 21:27] #171 closed

[2018-06-12 21:29] EvanHahn commented on #171
That's surprising to me—server-side CSPs are generally more secure—but
great if that works for you!

[2018-06-30 13:42] nikwen opened #172 "Chrome to drop HTTP-Based Public Key Pinning"
Chrome is about to drop support for HTTP-Based Public Key Pinning.

https://developers.google.com/web/updates/2018/04/chrome-67-deps-rems

[2018-06-30 13:46] nikwen commented on #172
https://github.com/helmetjs/hpkp/issues/14

[2018-06-30 15:06] EvanHahn commented on #172
Closing this issue—we'll discuss on https://github.com/helmetjs/hpkp/issues/14.

[2018-06-30 15:06] #172 closed

[2018-07-03 12:00] nikwen opened #173 "Feature Policy: A new Chrome feature that might be worth adding to helmet"
Source and more information: https://developers.google.com/web/updates/2018/06/feature-policy

[2018-07-05 17:20] EvanHahn commented on #173
I think we should add this to Helmet. It might take me some time to add but it's now on my radar.

Thanks for letting me know about this!

[2018-07-08 18:11] Malvoz commented on #140
This however applies to PDF aswell.

[2018-07-09 22:29] EvanHahn commented on #140
That's true—perhaps this is worth reinstating.

I can't see any reason NOT to add it, so I'll consider adding this in Helmet 4.

[2018-07-09 22:31] EvanHahn commented on #167
I'm going to close this issue due to inactivity, but please let me know if you have any more questions and I can reopen it.

[2018-07-10 16:24] Sawtaytoes commented on #167
I don't understand how to answer your questions. Is there a better configuration I could've used which would've kept a higher security level?

[2018-07-13 16:05] EvanHahn commented on #167
I think I don't quite understand your use case. Do you control both the outer page and the authentication iframe?

My understanding is this:
- You own the outer pages, which are all on different subdomains. For example, `foo.example.com`, `boo.example.com`, etc.
- You also own the authentication iframes, which are all on the same domain. For example, `auth-example-iframe.com`.

Is that understandi

[2018-07-13 17:15] Sawtaytoes commented on #167
I control both yes. Your understanding is correct! :D

[2018-07-13 17:46] EvanHahn commented on #167
Okay—thanks!

**tl;dr, it's safe to disable `X-Frame-Options` as long as you also specify [the `frame-ancestors` Content Security Policy directive](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors), but be wary of the latter's browser support.**

At the end of the day, you have two goals:

1. Your outer pages should only allow `auth-example-iframe.c

[2018-07-16 16:44] Cherry commented on #173
Support is also being added to Safari: https://caniuse.com/#search=feature%20policy and there's some great info at https://scotthelme.co.uk/a-new-security-header-feature-policy/.

Hoping to see this in Helmet soon!

[2018-07-16 16:59] EvanHahn commented on #173
While you wait, you can use a simple version:

[code]

I'll try to add more fanciness in the Helmet version (some validations and other improvements) but it won't be conceptually much more complex than that.

[2018-07-21 15:40] EvanHahn opened #174 "Use `const` instead of `var` in README code snippets"

[2018-07-21 16:46] EvanHahn opened #175 "Add X-Permitted-Cross-Domain-Policies: none as default"
This is a 4.x change.

[2018-07-22 19:13] EvanHahn commented on #174
Addressed in 46a2071a781ef068a5a05aeee09bcab248ca76a7.

[2018-07-22 19:13] #174 closed

[2018-07-22 19:39] EvanHahn commented on #140
This has been added to Helmet in 3.13.0! You can see the [documentation here](https://helmetjs.github.io/docs/crossdomain/).

This isn't enabled by default but will be in Helmet 4—see #175 to track that change.

[2018-07-22 19:39] #140 closed

[2018-07-23 11:51] Malvoz opened #176 "Cross-Origin-Resource-Policy"
There's a relatively new HTTP header called [`Cross-Origin-Resource-Policy`](https://fetch.spec.whatwg.org/#cross-origin-resource-policy-header) which Helmet could utilize.

MDN docs:

- https://developer.mozilla.org/en-US/docs/Web/HTTP/Cross-Origin_Resource_Policy_(CORP)
- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin-Resource-Policy

Now I'm not sure how it affects or if

[2018-07-23 11:59] Malvoz commented on #167
@EvanHahn

Althought CSP2 is recommendation, I'm certain we should be looking at CSP3 at this point. I'm not sure why CSP2 is still recommendation.

&lt;researches for a minute&gt;
Oh! confirmed: https://github.com/w3c/webappsec-csp/issues/244#issuecomment-333099819

[2018-07-23 13:48] EvanHahn commented on #167
I agree, but `X-Frame-Options` doesn't support this exact use case. You can hack it in various ways if IE support is important to you.

[2018-07-23 13:48] EvanHahn commented on #176
I'll take a look at this! Thank you.

[2018-07-31 21:48] EvanHahn opened #177 "Cross-Origin-Opener-Policy"
We should implement `Cross-Origin-Opener-Policy`.

~We should pay attention to the `Cross-Origin-Window-Policy` header added in [Safari 12](https://webkit.org/blog/8332/release-notes-for-safari-technology-preview-59/).~

Because there's no spec yet, we shouldn't add this to Helmet yet. It could change quite a lot!

[2018-07-31 21:49] EvanHahn commented on #176
This is definitely something to keep an eye on, though I want to wait on this in case the spec changes. It seems unstable at the moment.

[2018-07-31 21:50] EvanHahn commented on #176
Until it's added to Helmet, you can add it to your Express apps with just a few lines:

[code]

[2018-08-14 01:13] dreaddymck opened #178 "Cannot find module '../../config' - Only happens on the "production" deployment"
This is an odd one.

Happens on

` const helmet 		= require('helmet');`

Only happens on the production deployment.
The production environment is a direct copy of development which includes /node_modules folder.
There is no npm install on production.

Still debugging.

Leaving the output here just in case someone else is experiencing this.

[code]

[2018-08-14 16:05] EvanHahn commented on #178
Strange.

What version of Helmet or `helmet-csp` are you using?

Is there a `config.js` in `/home/dreaddy/Production/socache-server/node_modules/helmet-csp/lib/`?

[2018-08-16 06:55] dreaddymck commented on #178
"helmet": "^3.13.0",

I did not see one.
I recently notice similar errors pop up in the other projects while developing. They've all been in some way associated with changes to the modules.

I ran into a out of sync module on that production server. Fixed it, but have yet to re-apply helmet to see if the problem was resolved.

Will keep you posted.

[2018-08-16 13:44] EvanHahn commented on #178
I'm more than happy to help debug, but I'm not going to look into this further because it doesn't sound like it's a bug in Helmet.

Please let me know if I can help with anything!

[2018-09-03 10:50] louiepiol opened #179 "X-XSS Protection issue Mozilla/4.0"
When request header has ```User-Agent: Mozilla/4.0 (compatible; MSIE 4.01; Windows 98)```
xss protection disabled.

```X-XSS-Protection → 0```

Can you help me on this?

[2018-09-03 12:01] EvanHahn commented on #179
That looks like it's happening because of the "MSIE 4.0" bit. This middleware is disabled in old Internet Explorers for security reasons.

Does that help?

[2018-09-04 02:34] louiepiol commented on #179
Is there any way to prevent this, security scanners throw a meduim risk for this issue and its seem someone can fetch anything using this User-Agent.

[2018-09-04 12:16] EvanHahn commented on #179
The `setOnOldIE` option should be what you need.

If you're using the top-level `helmet` module, you'd do something like this:

[code]

If you're using the `x-xss-protection` module by itself, your code would look like this:

[code]

Note that this causes _worse_ vulnerabilities on old versions of Internet Explorer. For more, see [the documentation](https://helmetjs.github.io/docs/xss-filter/).

I

[2018-09-04 12:16] #179 closed

[2018-09-08 19:38] EvanHahn commented on #176
I just published `cross-origin-resource-policy@0.1.0` to npm, which you can learn more about [here](https://github.com/helmetjs/cross-origin-resource-policy). It's not part of mainline Helmet so it'll need to be installed separately for now.

After browser support improves, I'll add it to Helmet.

[2018-09-08 19:42] EvanHahn commented on #178
I'm going to close this issue because I don't _think_ it's a problem with Helmet. (I think I would have received a flood of requests if so.)

Please let me know if you're still experiencing the issue or if you have any other problems.

[2018-09-08 19:42] #178 closed

[2018-09-19 12:54] coffy commented on #167
app.use(helmet({frameguard: false})) executes framequard middleware with option SAMEORIGIN.
There is no way currently to configure helmet to avoid X-Frame-Options header.
Am I missing something?

[2018-09-19 20:29] NathanCH commented on #167
To expand on @Malvoz's point, it's important to keep X-Frame-Options otherwise you're susceptible to attacks from legacy browsers as recent as IE9. It's recommended to use both X-Frame-Options and a CSP. X-Frame-Options will ignored by modern browsers in favor of a CSP.

...with one exception: Safari 12 still prioritizes X-Frame-Options. This is problematic if your CSP header whitelists multiple d

[2018-09-19 21:46] EvanHahn opened #180 "Remove hpkp from "mainline" Helmet"
See https://github.com/helmetjs/hpkp/issues/14.

Because this is a breaking change, it'll happen in Helmet version 4.

[2018-09-19 22:37] coffy commented on #167
@EvanHahn I am not sure why but during my previous testing I did see frameguard to execute and to include header into response, but now I can't reproduce it.
Thanks, it looks like you are right.

[2018-09-20 13:11] EvanHahn commented on #167
It seems like this question has been largely answered, so I'm going to close this issue.

Feel free to continue discussion or ask me to reopen if needed!

[2018-09-20 13:11] #167 closed

[2018-10-09 13:41] nikwen opened #181 "Add support for X-Content-Type-Options: nosniff header"
This seems to be a new feature in Chrome called Cross-Origin Read Blocking (CORB).

See https://developers.google.com/web/updates/2018/07/site-isolation for details.

[2018-10-09 14:05] EvanHahn commented on #181
Helmet [already supports this header](https://helmetjs.github.io/docs/dont-sniff-mimetype/) with `helmet.noSniff`. It's enabled by default.

It _does_ sound like there's some work to be done to document this as part of CORB, though. Does that sound right?

[2018-10-09 14:05] #181 closed

[2018-10-09 15:59] EvanHahn commented on #181
No worries! I just added some minor notes to both the `dont-sniff-mimetype` readme and the main Helmet docs site.

Thanks for reporting this!

[2018-10-09 17:59] EvanHahn commented on #173
This has been added in `helmet@3.14.0`. Check out [the documentation](https://helmetjs.github.io/docs/feature-policy/) for more.

Thanks for reporting this!

[2018-10-09 17:59] #173 closed

[2018-10-10 17:09] nikwen commented on #181
Awesome. Thank you for all your work, Evan, on this issue and in general! :wink:

[2018-10-10 17:48] EvanHahn commented on #181
No problem! Thanks for your help reporting these.

[2018-10-18 18:39] brannondorsey opened #182 "DNS Rebinding protection"
Hi, I'm an independent security researcher and author of [`host-validation`](https://www.npmjs.com/package/host-validation), an NPM module for protecting Express.js servers from DNS rebinding attacks via host header validation. I've done a [fair amount of research on the subject](https://medium.com/@brannondorsey/attacking-private-networks-from-the-internet-with-dns-rebinding-ea7098a2d325) and I t

[2018-10-19 21:02] EvanHahn commented on #182
I didn't know about DNS rebinding—thanks for bringing it to my attention!

I've never been explicit about this, but I intend Helmet to be a middleware that deals with *response* headers, not request headers. Even though I'd argue that `Host` validation is more important than some of the headers Helmet sets, `Host` validation is a *request* header issue, and therefore out of this project's scope.

[2018-10-20 18:44] brannondorsey commented on #182
Throughout my research I've found many security folks aren't aware of DNS rebinding. You are not alone, haha ;) It's actually somewhat surprising to me how few folks know about it, especially considering it's been around for a decade and can be truly catastrophic. A lot of the work I've been doing in the last year is to simply raise awareness about the issue.

Ah, I see. I wasn't aware of that res

[2018-10-21 20:03] EvanHahn commented on #182
Helmet _could_ be expanded to more generic middleware collection for Express and "eat" things like SSL enforcement or CSRF tokens, but I've drawn the line here. I'm just one maintainer and still fall behind on some issues so a narrow focus is important. It is, as you say, a bit of an arbitrary decision.

If that makes sense, I'll move forward with the two action items I mentioned above.

[2018-10-22 14:44] EvanHahn commented on #182
Sounds good! I'll make pull requests for these changes and @-mention you on both.

[2018-10-25 14:11] EvanHahn commented on #182
Closing this issue now that I've addressed the action items. Thanks for bringing this to my attention!

[2018-10-25 14:11] #182 closed

[2018-10-30 00:24] Cherry opened #184 "Add support for `Report-To` header"
References: https://docs.report-uri.com/setup/reporting-api/
https://www.w3.org/TR/reporting/

The header essentially extends browser reporting from CSP, HPKP, etc. and adds things like deprecation, intervention and crash reporting.

Is this a good use-case for Helmet? Whilst the header itself isn't explicitly tied to security, it could alert site owners of security problems or issues with their v

[2018-11-05 18:35] EvanHahn commented on #184
Apologies for my slow response here. I need to take a look at this header to evaluate whether it'd be good for Helmet.

[2018-11-15 22:10] FranklinYu commented on #180
FYI, Chrome has not yet removed support for HPKP as of version 70. They seems to have changed their plan.

[2018-11-16 15:32] FranklinYu commented on #180
I don't think they publicly announced the change of plan, but you can test [this page](https://projects.dm.id.lv/Public-Key-Pins_test) with Chrome 70. For me it is still working, even if the deprecating message is still showing up claiming that it will be (should have been?) removed in 69.

[2018-11-16 15:38] EvanHahn commented on #184
Because this header isn't tied to security, I don't think this is a good candidate for Helmet. However, I'm more than happy to collaborate on a module that does this. Would you be interested in something like that?

Here's a quick draft (not tested):

[code]

[2018-11-16 15:38] #184 closed

[2018-11-16 16:05] EvanHahn commented on #180
Hmm, interesting.

My plan is to do nothing until Chrome actually removes support. If they DON'T remove support, I'll reconsider its removal from "mainline" Helmet. If they DO remove support, I'll go ahead with its removal in Helmet 4.

Does that sound good to you?

[2018-11-16 18:06] Cherry commented on #184
Yeah, I'd definitely be interested in something like that. I'm doing a similar thing as per your example in a few projects right now, and isolating it to an npm module would be a good idea.

[2018-11-16 18:09] EvanHahn commented on #184
Sounds good! Feel free to email me@evanhahn.com if I can help at all.

[2018-11-16 19:31] FranklinYu commented on #180
That's exactly what I would propose. 👍

[2018-11-16 20:35] EvanHahn commented on #180
Perfect! Please let me know if you hear anything in the meantime.

[2018-11-17 20:40] EvanHahn commented on #184
Fantastic! Let me know if I can help with either of those and I'll see if I have a spare moment.

[2018-11-21 20:39] mscottnelson commented on #176
I see that you just wrote that on Sep 8. Safari (both desktop and iOS) added support for this policy on Sep 18. Although it is still a new feature on some platforms, all major browsers now support it. Don't know what your threshold is, just wanted to make sure you were aware.

[2018-11-25 19:21] EvanHahn commented on #176
Hmm, I didn't see it listed on caniuse.com and some of the reported bugs didn't look resolved (in Firefox and Edge). Am I missing something?

[2018-11-26 17:16] mscottnelson commented on #176
My apologies. I was working on implementing a number of security features and somehow conflated this header with the SameSite cookie attribute when I made that comment. Carry on.

[2018-11-26 20:06] EvanHahn commented on #176
No worries! Always good to check.

[2018-12-05 02:48] EvanHahn commented on #54
You can do something like this:

[code]

[2018-12-05 22:44] mkargus commented on #180
It appears that Chrome is removing it in [release 72](https://www.chromestatus.com/feature/5903385005916160).

[2018-12-05 23:31] FranklinYu commented on #180
I can confirm with Chrome Dev (72).

[2019-01-13 19:29] lukasoppermann opened #185 "Show how to use helmetjs without express"
Hey, I think it would be awesome if helmetjs would be more open for other frameworks (or use without any).

As far as I understand, this is already possible (https://github.com/helmetjs/helmet/issues/100), correct? I think it would be good to document this prominently in the repo.

[2019-01-14 16:07] EvanHahn commented on #185
This is totally possible. Are you interested in using it with "vanilla" Node (eg, its `http` module)? Or another framework like `connect` or `hapi`?

If so, here's something to help you out before it goes into the documentation:

[code]

[2019-01-15 23:38] ohpyupi opened #186 "Any plan on adding ESlint to the source code?"
Curious if ESLint integration is welcomed to the repo

[2019-01-15 23:40] EvanHahn commented on #186
Helmet uses Standard for linting (which uses ESLint under the hood). Does that help?

[2019-01-15 23:50] ohpyupi commented on #186
I see. Didn't know about that. Thanks.

[2019-01-15 23:50] #186 closed

[2019-01-15 23:59] EvanHahn commented on #186
No worries! Feel free to open a new issue if you have any other questions.

[2019-01-31 17:14] jungalwala opened #187 "Error: "'unsafe-inline'" does not make sense in connect-src. Remove it."
I am getting the following error when I see add 'unsafe-inline' to connect-src.

But according this the page below it is valid.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/connect-src

[2019-02-04 20:33] EvanHahn commented on #185
@lukasoppermann Any updates here?

[2019-02-05 09:19] lukasoppermann commented on #185
Hey, sorry it seems I did not hit send on my answer.

I am more interested in piecing together sometime from modules using the express router though. Mainly I need something that supports http/2 but I am using express currently and don't want to get locked into a different framework

[2019-02-05 17:43] EvanHahn commented on #185
Helmet works with [Connect](https://github.com/senchalabs/connect), a lower-level middleware library than Express. You can use it just like you'd use it with Express.

You also asked for "vanilla" docs. Does the example above help?

[2019-02-06 20:46] EvanHahn commented on #185
Okay. This isn't going to be a high-priority issue for me (I suspect that the vast majority of Helmet's users use it with Express) but I'll get to it at some point.

[2019-02-10 14:43] mkargus commented on #180
Chrome 72 is now released.

[2019-02-10 17:43] EvanHahn commented on #180
I've updated the docs and added a deprecation warning to Helmet. This `helmet.hpkp` will be removed in Helmet 4.

[2019-02-10 17:47] EvanHahn commented on #146
Planning on releasing Helmet 4 in April, which is when Node 6 is scheduled to be deprecated, so we'll only allow Node 8+.

[2019-03-07 16:52] BlueHatbRit opened #188 "Integrate TS types into Helmet directly"
I noticed that for a while the helmetjs project has been active in reviewing updates to the DefinetelyTyped definitions for helmet and wondered if it was worth migrating the types to this repository.

They could still be a second class citizen, but it would mean users only need to include a single dependency to get the types and the helmet project would be able to ship changes more readily to the

[2019-03-07 18:38] EvanHahn commented on #188
This is something I've thought about a fair bit.

While TypeScript support has certainly been on my mind, it hasn't felt like a pressing issue, so I've mostly kicked the can down the road. But given that TypeScript's adoption seems to be growing, the issue will only become more urgent.

Before talking about the options, it's important to me that I'm able to do some typechecking at runtime for anyo

[2019-03-07 23:32] sandersn commented on #188
Hi, I'm the Definitely Typed maintainer (and on the Typescript team).

A few comments:
* A solution to (1)'s sub-package problem might be to break `@types/helmet` into subpackages.
* (1) and (2) both have the problem that the types don't necessarily relate to the actual source code. They are only checked against the type tests.
* A drawback to (2) that we've observed is that non-TS projects have t

[2019-03-08 02:11] EvanHahn commented on #188
@sandersn This is helpful—gives me plenty to think about.

A question: if I want to do type checking at runtime, can I do this with TypeScript, or do I have to do it in JavaScript? For example, if I have a function that takes a string (and is typed that way), how can I write a test in TypeScript that passes a number?

[2019-03-08 09:39] BlueHatbRit commented on #188
In the case of Helmet (and sub projects) where the api's are quite minimal I'm not sure a huge impact would be felt by having to update the types although it does add a barrier to contributors who don't know typescript as mentioned.

The question about testing for runtime type checks is interesting, I can't think of a way to do it without having some tests in raw JS because you'd be directly confl

[2019-03-08 17:24] sandersn commented on #188
@EvanHahn re runtime type checking and testing.

The testing is easy, you just cast the badly typed arguments to `any`:

[code]

I haven't done any runtime type checking myself since I'm too heavily steeped in static typing, but my co-workers have looked at io-ts ([I found an introduction here.](https://medium.com/@ottoki/runtime-type-checking-with-io-ts-in-typescript-14465169fb02)). I think the b

[2019-03-08 18:42] EvanHahn commented on #188
Just attempted to rewrite `ienoopen` in TypeScript. I'd appreciate some feedback: https://github.com/helmetjs/ienoopen/pull/1

I'm familiar with TypeScript but am hardly an expert (notably when it comes to best practices, like which modules to install or how to structure projects).

[2019-03-08 19:30] EvanHahn opened #189 "Update Adam Baldwin's email and website"
Need to do this across Helmet, not just in this repo.

[2019-03-09 23:02] XhmikosR commented on #146
You should also switch to ES6+ while at it :)

[2019-03-10 15:34] EvanHahn opened #231 "Strict-Transport-Security: Remove includeSubdomains (lowercase d)"
The `includeSubdomains` option (with a lowercase `d`) will be removed in `hsts@3` and `helmet@4`. Use the `includeSubDomains` option (with a capital `D`) instead.

Old:

[code]

New:

[code]

Diff:

[code]

[2019-03-10 15:42] EvanHahn commented on #146
@XhmikosR That's the plan!

[2019-03-10 17:13] EvanHahn opened #232 "Strict-Transport-Security: Remove `setIf`"
`setIf` has been deprecated and will be removed in `hsts@3` and `helmet@4`.

Luckily, the transition is relatively painless—simply do the conditional yourself.

Old:

[code]

New:

[code]

[2019-03-10 18:03] EvanHahn opened #190 "Remove HISTORY.md"
Once nobody is linking to it, we can remove it.

[2019-03-10 18:35] EvanHahn commented on #188
`ienoopen` has been released with TypeScript support! We'll need to convert all other sub-packages.

[Created a project for this.](https://github.com/orgs/helmetjs/projects/2)

[2019-04-04 09:00] nagman commented on #134
Same issue here.

[code]

If I don't specify a `setTo` for `hidePoweredBy`, the header X-Powered-By isn't removed in development env.

In production env, it works yet.

[2019-04-04 16:10] EvanHahn commented on #134
@nagman Does your code look like this without the `setTo`?

[code]

What does it look like instead?

[2019-04-04 16:13] nagman commented on #134
@EvanHahn yup, looks like this:
[code]

[2019-04-04 16:17] EvanHahn commented on #134
@nagman I'm not able to reproduce this with the snippet you provided. What version of Node, Express, and Helmet are you using? And are you using anything "in front" of your app, like nginx?

If this issue isn't related to Express 4.14.0, I'd appreciate it if you could open a new issue so that we can move discussion there (it'll send fewer notifications to everyone else in the thread).

[2019-04-16 19:46] Malvoz commented on #177
The header is now `Cross-Origin-Opener-Policy`.

Progress can be followed here: https://github.com/whatwg/html/issues/3740.

[2019-04-16 19:56] EvanHahn commented on #177
Thanks! I'll take a look at this.

[2019-04-16 20:19] Malvoz commented on #176
There are now explainer docs for [CORP](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cross-Origin_Resource_Policy_(CORP)) and the [CORP HTTP header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin-Resource-Policy) at MDN. Just FYI ;)

[2019-04-17 09:35] nayaabkhan opened #191 "Multiple value for referrerPolicy"
It is possible to have multiple `referrer-policy` as per the spec: https://w3c.github.io/webappsec-referrer-policy (Example 13).

What is the way to achieve this with Helmet.js? I tried to:
[code]

But it resulted in an error:
[code]

Docs don't mention any way to specify multiple values either.

[2019-04-29 00:44] EvanHahn commented on #191
This looks like an issue with the `referrer-policy` middleware, so I've moved the issue there. See <https://github.com/helmetjs/referrer-policy/issues/7>.

Thanks for reporting.

[2019-04-29 00:44] #191 closed

[2019-04-30 19:35] neruchev commented on #134
Same problem.

node: 10.13.0
express: 4.16.4
helmet: 3.16.0

Cause of the problem: when the `hide-powered-by` tries to remove the header, this header is not installed yet, so nothing happens.

It seems you need to use the `hide-powered-by` somewhere below by code.

[2019-05-07 05:16] GusRuss89 commented on #187
The same thing happens with `styleSrc`. MDN says it's available - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/style-src

In my case I'm using a CSS-in-JS library that adds `<style>` tags. My main JS script has a nonce, but it's a pain to add it to each `<style>` tag (doable, but I thought this option would be easier until I ran into this issue).

The error:
[c

[2019-05-07 12:26] EvanHahn commented on #187
Thanks, this seems like I made a mistake.

If anyone feels like making a pull request, feel free—otherwise I'll give it a shot when I next get the chance.

[2019-05-09 12:17] EvanHahn commented on #187
Would one of you be able to close this issue and open a new one on the proper sup-repository, `csp`? [Here's a link to do that.](https://github.com/helmetjs/csp/issues/new)

[2019-05-09 12:19] EvanHahn commented on #134
@neruchev Are Helmet's other headers, like `X-XSS-Protection`, being set?

[2019-05-26 16:49] gzog commented on #189
@EvanHahn @evilpacket Tried going https://evilpacket.net and dns fails to resolve. Is the website address correct or is still wip and it will be up sooner or later?

[2019-05-28 19:02] Bramzor opened #193 "Feature Policy: Disable all?"
Documentation describes how to disable or configure specific features but I was wondering why wouldnt we just disable all and enable only the items we need? Or am I missing something?

[2019-05-29 12:38] EvanHahn commented on #187
Opened https://github.com/helmetjs/csp/issues/82. Let's move discussion there.

[2019-05-29 12:38] #187 closed

[2019-05-29 12:53] EvanHahn commented on #193
To quote [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Feature_Policy):

A "disable everything" feature is an interesting idea...I assume that's something you'd be interested in?

[2019-05-29 14:15] Bramzor commented on #193
Do we know the content of this default allowlist?
Yes, I would prefer to actually disable everything as on a normal website or service you do not need anything like camera, micro, geolocation etc. And per security best practices, it's always better to deny as much as possible. Although I tried disabling vibrate yesterday and apparently Chrome (desktop) was unaware of this feature so it started sho

[2019-05-29 14:24] EvanHahn commented on #193
I'm not sure, but another quote from MDN:

[The spec mentions default allowlists](https://w3c.github.io/webappsec-feature-policy/#default-allowlists), but it doesn't give specifics.

Unfortunately, I don't know of a great way to disable everything without giving those warnings. If there are any features that the browser doesn't recognize, it will give a warning (I assume, I haven't tested every br

[2019-05-29 14:48] Bramzor commented on #193
There is a post talking about a possible default feature: https://github.com/w3c/webappsec-feature-policy/issues/189 . Apparently the allowlist is configured and configurable in the browser.

[2019-05-29 19:20] webuniverseio commented on #110
Leaving this comment because it might be useful for someone.
This turned out to be an issue for me because our mobile app has custom user agent and as a result helmet was setting 3 headers instead of one (understandable behavior for compatibility). CSP header was pretty large and when it was duplicated 3 times it caused Akamai (CDN provider) to return 502. I fixed that by checking my custom header

[2019-05-31 08:11] TheoMer opened #194 "One nonce value being set in code but two different appear in browser."
[code]

So, I'm generating a base 64 value and assigning that to a global.x variable, which is picked up and used as a nonce by the styled-components, which I then pass into `styleSrc` as 'nonce-hex value'. But when I launch my site I get an:

[code]

error message, and after viewing page source I see:

[code]

What is the issue here?

server.js

[code]

_document.js

[code]

[2019-05-31 21:08] #194 closed

[2019-05-31 21:25] TheoMer opened #195 "Refused to apply inline style because it violates the following Content Security Policy directive: "style-src""
[code]

So, I'm generating a base 64 value and assigning that to a global.x variable, which is picked up and used as a nonce by the styled-components, which I then pass into `styleSrc` as 'nonce-hex value'. But when I launch my site I get an:

[code]

error message. So, even though the nonce-values are the same in both styleSrc and the styled-component are exactly the same, the above mentioned err

[2019-05-31 22:00] TheoMer commented on #195
Additionally, when a page reload is initiated the nonce-value in styleSrc does not update.

[2019-05-31 23:53] EvanHahn commented on #194
It looks like you closed this issue. Let me know if you need any help, otherwise I'll assume you figured out your problem.

[2019-05-31 23:54] EvanHahn commented on #194
Apologies—just saw <https://github.com/helmetjs/helmet/issues/195>. We'll move discussion there.

[2019-06-04 03:47] EvanHahn commented on #193
Let's keep an eye on that issue. Thanks for finding!

[2019-06-04 03:52] EvanHahn commented on #195
A couple of questions:

1. What does the `Content-Security-Policy` header look like?
2. What is the nonce on the `<link>` tag you've included?

As an aside, this line:

[code]

Could be changed to:

[code]

[2019-06-04 08:42] TheoMer commented on #195
Hi @EvanHahn

[code]

Link tag?

[2019-06-05 11:15] TheoMer commented on #195
So, the issue and resolution I obtained from the following:

https://blogs.dropbox.com/tech/2015/09/csp-the-unexpected-eval/

[2019-06-05 11:15] #195 closed

[2019-06-06 14:29] EvanHahn commented on #195
Great! Glad this was resolved.

Let me know if I can help with anything else.

[2019-06-21 13:34] dianugroho commented on #134
Saved my life

[2019-06-24 11:38] johnfrades commented on #134
cant make it work, tried any other thing, seems like helmet doesnt work for me.
The only thing worked for me is this

api.use(helmet.hidePoweredBy({ setTo: 'Blood, Sweat and Tears' }));

[2019-06-24 14:54] EvanHahn commented on #134
@johnfrades Is `X-Powered-By` the only header that Helmet fails to set for you?

If so, does `app.disable('x-powered-by')` work?

[2019-07-05 22:19] Malvoz opened #198 "Cross-Origin-Embedder-Policy"
There's a very early draft of [`Cross-Origin-Embedder-Policy` (COEP)](https://mikewest.github.io/corpp/).
However, I think it's worth tracking at this point.

[This document](https://docs.google.com/document/d/1zDlfvfTJ_9e8Jdc8ehuV4zMEu9ySMCiTGMS9y0GU92k/mobilebasic#) also explains the relation to [CORP](https://github.com/helmetjs/helmet/issues/176), and [COOP](https://github.com/helmetjs/helmet/

[2019-07-06 14:32] EvanHahn commented on #198
Agreed—we'll keep an eye on this. I'll check on the spec every so often, but please let me know if you spot something before I check.

[2019-07-09 05:14] evdama opened #199 "can we use script-src-elem already"
now that `script-src-elem` is a thing with CSPv3, can we use it with express already? Can I do something like

[code]

ie using `scriptSrcElem` instead of `scriptSrc`?

[2019-07-10 16:32] EvanHahn commented on #199
Helmet should support any new CSP directive.

Would you mind opening a new issue on helmet-csp (which is the more appropriate place for this issue), closing this issue, and including a link to the spec for script-src-elem? No worries if you'd rather not--I will do it--but doing that would save me some time.

[2019-08-15 08:08] HristijanStrkovski commented on #134
Had exactly the same problem as the rest, fixed it by emptying cache and hard reloading the page.

[2019-08-22 16:21] boulepick opened #201 "Policy for AWS S3 bucket"
Good day all,

just a quick question here, i would i go about setting up a policy for using an $.ajax put to amazon aws s3 bucket from client side.

current setup is
node v10.5.3
express": "^4.16.4
helmet": "^3.18.0

// server side
[code]

// client side
[code]

now it gets sent to amazon since i use reportOnly for now but i do get the "Refused to connect to 'https://myBuckeyName.s3.amazonaws.com/

[2019-08-26 08:48] danieldanielecki opened #202 "Header report-to deprecated"
According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri this header is deprecated, thus it would be a good idea to deprecate it in Helmet too.

[2019-08-26 08:49] danieldanielecki opened #203 "Header require-sri-for deprecated"
According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/require-sri-for this header is obsolete, +1 for removing this from Helmet.

[2019-08-26 12:58] boulepick commented on #201
thanks for the reply, i thought there was a way to define it without using the bucket name and just use the s3.amazonaws.com.

Thanks

[2019-08-26 14:13] EvanHahn commented on #202
Thanks, I'll look into this.

I probably won't remove it completely because some legacy browsers still support it, but thanks for bringing this to my attention.

[2019-08-26 14:14] EvanHahn commented on #203
(Left a very similar comment in #202.)

Thanks, I'll look into this.

I probably won't remove it completely because some legacy browsers still support it, but thanks for bringing this to my attention.

[2019-08-27 08:54] danieldanielecki commented on #203
Looks very similar, because I had to go through the HTTP headers quite thoroughly for one of the projects and noticed these 2 are obsolete. It's not a spam, these are 2 intentional different issues :)

[2019-08-28 04:38] IdanAdar opened #205 "npm audit reports vulnerability"
[code]

[2019-08-28 16:11] mroderick commented on #188
I might be late to the party, but I think there's a fourth option missing from the list:

Use JSDoc to define types for everyone to benefit from:
* Pros:
    * All (public) methods are documented
    * All the existing tooling for JavaScript still works
    * Autocomplete in VSCode [1], [2] (possibly others, but do TypeScript authors use other editors?)
    * One test harness
    * No build step

[2019-08-28 22:23] traverseda opened #207 "Advertising package"
It looks like this project depends on https://github.com/feross/funding, a project intended to show advertising in a projects build log.

I'm not familiar with your project, I'm just looking through a list of projects that depend on `feross/funding`. It's my understanding that right now there aren't any advertising messages actually showing, but if you're uncomfortable with the possibility of adve

[2019-08-29 14:55] EvanHahn commented on #188
@mroderick I like this JSDoc approach, but most of Helmet's subpackages (actually, maybe all? I need to check) have already been rewritten in TypeScript.

I'd be very curious to know what the `sinon` org does, as (1) I have a lot of respect for the package (2) I'm comfortable with the TypeScript setup for Helmet but am not in love with it, so I'd love to see other options for improvement.

[2019-08-29 15:00] EvanHahn commented on #207
This shouldn't affect Helmet users (because `funding` is a development-only subdependency), so I'm going to close this issue.

Let me know if you disagree with this decision and I'm happy to reopen.

[2019-08-29 15:00] #207 closed

[2019-08-29 15:27] mroderick commented on #188
https://github.com/sinonjs/sinon/issues/2003 is likely to be a good thread to follow regarding JSDoc. I imagine we'll leave breadcrumbs to whatever we end doing (or not) for TypeScript support

[2019-08-29 21:23] louguitar opened #208 "Content Security Policy example code does no work."
Hi,
I have a site build in Node/Express and I am trying to get around the Content Security Policy that blocks all inline scripts. I have used the example code at the [bottom of this page](https://helmetjs.github.io/docs/csp/). However it all works, it generates the nonce, the header is showing up properly, but as soon as I get to the last line of code, where it is supposed to inject the nonce into

[2019-09-02 13:15] benhjames opened #209 "Exporting TypeScript types"
Whilst migrating the main `helmet` package over to TypeScript, I discovered an issue to do with exporting types:

[code]

In this example, I believe the `DnsPrefetchControlOptions` type needs to be exported in the main module definition. However, because we are using CJS exports, we cannot simply prefix the type definition with `export` (as there can only be a single export). Instead, the [suggest

[2019-09-02 17:49] EvanHahn commented on #209
I'm getting ready to make breaking changes (for Helmet 4). I'd like to be able to support the following cases:

- CommonJS imports in Node (eg, `helmet = require('helmet')`)
- ES modules where shimmed (eg, `import helmet from 'helmet'`), like in TypeScript

Are those mutually exclusive?

[2019-09-02 21:57] EvanHahn commented on #209
To add some additional info, Node has an official recommendation [not to publish ES modules right now](https://github.com/nodejs/modules/blob/master/doc/announcement.md#es-module-code-in-packages). I'd like to follow that recommendation for now.

[2019-09-02 22:01] #190 closed

[2019-09-03 06:10] benhjames commented on #209
I think there are two ways of supporting the two cases above whilst following the Node recommendation, and also being able to export types:

1. Use namespaces (as described above). Not a breaking change for consumers, but namespaces are a TypeScript-only concept and are discouraged/deprecated in favour of using ES modules.

2. Write the source as ES modules, which get transpiled to CJS modules, fo

[2019-09-03 10:48] EvanHahn commented on #208
Hmm, seems odd. Could you post the following?

1. Your call to `csp` (and any code that generates the nonce)
1. The code that renders the `<script>` tag
1. The final `Content-Security-Policy` header (from the Network tab in your browser)

[2019-09-05 13:06] SCdF commented on #202
This ticket title is incorrect: `report-to` is the *new* header that supposedly replaces the now-deprecated `report-uri` header.

[2019-09-05 14:57] EvanHahn commented on #209
While I'd prefer the latter option in the future where ES Modules are widely used, I'm hesitant to require their usage (so to speak) given that Node basically recommends that we don't use them yet.

Is there a way to have all of these things work?

[code]

[2019-09-06 02:44] danieldanielecki commented on #202
@SCdF thanks for the comment, edited.

[2019-09-09 08:51] benhjames commented on #209
Since we'd be authoring in ESM and compiling to/distributing in CJS I'm not sure the Node recommendation concerns us. Consumers of the package could still use CJS if required (pun not intended), though they would need to access the default export via `.default`.

I believe there is only one way for `const helmet = require('helmet')` to work without `.default` on the end: by using `export =` in Typ

[2019-09-14 17:46] EvanHahn commented on #209
Ah, okay, I think that all makes sense to me now.

Given that...

1. `helmet@4` is going to support all the way down to Node 8
1. Node 8 doesn't support ES modules natively (without a flag, at least)
1. I want to prioritize native, no-transpilation setups over setups that require a transpiler (TypeScript or otherwise)

I think we should use `export =` like we do now. If that means we have to use d

[2019-09-23 21:44] benhjames commented on #209
Yes, makes sense! Let's go with that. I'll have a look at starting to fix up the individual packages over the coming days.

[2019-10-14 21:27] Georgeevergreen0 opened #210 "Redirect request"
Why does helmet redirect users/logout to /

[2019-10-15 03:24] EvanHahn commented on #210
Could you provide a code sample that reproduces this issue?

[2019-10-22 18:00] FlyRocketDrones opened #211 "Does it work for React?"
Does Helmet work for React? If so, how can I set it up?

[2019-10-22 18:02] EvanHahn commented on #211
Helmet is a Node library for Express (and Express-like) servers, and it shouldn't meaningfully affect the way you use React. This module has no meaningful integrations with React.

You may be looking for [React Helmet](https://github.com/nfl/react-helmet), a module that lets you manipulate the `<head>` of your document.

I'm going to close this issue because I think I've answered your question, bu

[2019-10-22 18:02] #211 closed

[2019-10-22 18:04] FlyRocketDrones commented on #211
Helmet adds useful security procedures like contentSecurityPolicy so my intention was to use Helmet with my React.

[2019-10-22 18:08] EvanHahn commented on #211
By default, Helmet doesn't add a Content Security Policy, though that's one of its features. It's hard to give general advice about how to use a Content Security Policy with React, but you'll want to make sure you've allowed any JavaScript in the `script-src` directive.

Are you running into any trouble with that?

[2019-10-22 18:10] FlyRocketDrones commented on #211
Well, no. I found: https://tomssl.com/2016/06/30/how-to-fix-the-http-response-headers-on-azure-web-apps-to-get-an-a-plus-on-securityheaders-io/

That added all necessary securityheaders. Though, I was thinking, instead of using that I could use helmet with my app to take care of all of that...

[2019-10-22 18:14] EvanHahn commented on #211
Helmet adds various HTTP response headers. You don't need Helmet to set those, but Helmet certainly can do it.

Does that help?

[2019-10-22 18:15] FlyRocketDrones commented on #211
Yes, thank you! I will check script-src directive : )

[2019-10-26 21:20] BechtelCanDoIt opened #212 "npm not published correctly?"
scott@MegaDev:...$ npm i helment --save
npm ERR! code E404
npm ERR! 404 Not Found: helment@latest

npm ERR! A complete log of this run can be found in:
npm ERR!     /home/scott/.npm/_logs/2019-10-26T21_16_14_139Z-debug.log

---

I also tried helment@3.21.1 and .0 same 404.

---
scott@MegaDev:~/dev/serverless/mindarchitecting/Hypno_BE_MindArchitecting$ more /home/scott/.npm/_logs/2019-10-26T21_16_1

[2019-10-26 21:22] EvanHahn commented on #212
It looks like you’re trying to install helment, not helmet. Are you sure you’ve spelled it correctly?

[2019-10-28 03:01] BechtelCanDoIt commented on #212
OMG spelling gets me every time. Nothing to see here folks...

[2019-10-28 03:01] #212 closed

[2019-10-28 18:19] EvanHahn commented on #212
No problem—easy mistake to make!

Feel free to open a new issue if you run into any other problems.

[2019-11-13 06:32] ketan-shinde commented on #209
how to implement in angular 7 step by step?

[2019-11-13 06:33] ketan-shinde opened #213 "how to implement in angular 7 step by step?"
Can you explain? How to implement in angular 7 step by step?

[2019-11-13 15:56] EvanHahn commented on #209
@ketan-shinde Let's answer your question in #213.

[2019-11-13 15:56] EvanHahn commented on #213
I don't know much about Angular. What help do you need?

[2019-11-14 05:07] victor-perez commented on #213
@ketan-shinde I understand from the documentation https://angular.io/guide/universal that Angular SSR uses normal Express server so in that case it will be
[code]
in your `server.ts`

[2019-11-28 11:35] bres-JUPITAKA commented on #134
in my exprience, place 'app.use (helmet ())' at the last of routes/middleware then it well works.

[2019-12-02 17:04] labsvisual commented on #153
@EvanHahn, sorry for bumping this so late. I tried searching for `hapi-helmet`. I am more than willing to start working on it since we need it ASAP.

Sounds like a plan?

[2019-12-05 15:48] EvanHahn commented on #153
@labsvisual Sure! Feel free to ask me questions (again, my email is <me@evanhahn.com>) or add me as a reviewer on `hapi-helmet`.

I'm not familiar with Hapi but can help with the HTTP headers part.

[2019-12-07 20:48] jamilservicos commented on #210
@EvanHahn
example fail:
[code]

example work:
[code]

[2019-12-08 00:21] EvanHahn commented on #210
How does that fail? Does it not redirect, or does it give an error?

[2019-12-09 09:38] Georgeevergreen0 commented on #210
const helmet = require("helmet");
const app = express();
const indexRouter = require('./routers/users');
app.use(helmet());
app.use(function (req, res, next){
console.log(req.url )//when i visit user/logout it logs "/". if i comment out helmet it works normally
});

[2019-12-09 09:38] #210 closed

[2020-01-23 18:52] rajeshsusai commented on #176
Hi, looks like Chrome 80 is adopting CORP: https://blog.chromium.org/2019/10/developers-get-ready-for-new.html

Are there plans to add Cross-Origin-Resource-Policy to helmet soon?

[2020-01-23 20:02] Malvoz commented on #176
@rajeshsusai that link only talks about `SameSite` cookies, and _not_ the `Cross-Origin-Resource-Policy` HTTP header. CORP has been [available in Chrome](https://chromestatus.com/feature/4647328103268352) since v73.

[2020-01-23 20:03] Malvoz commented on #198
Chrome status: https://chromestatus.com/feature/5642721685405696

[2020-01-23 20:04] Malvoz commented on #177
Chrome status: https://chromestatus.com/feature/5432089535053824

[2020-01-24 01:51] EvanHahn commented on #176
I'm not sure I understand the explainer. Can someone link me to something that can help me understand this header and the kinds of problems it prevents?

[2020-01-29 16:35] EvanHahn commented on #198
Thanks! It looks like this is in development but not supported yet, so I'll wait to add this.

[2020-02-23 15:33] EvanHahn commented on #213
This issue has been open for months and I *think* it's been resolved, so I'm going to close. Let me know if you want me to reopen this or continue the discussion!

[2020-02-23 15:33] #213 closed

[2020-02-23 15:36] EvanHahn commented on #193
Let's move this discussion to https://github.com/helmetjs/feature-policy/issues/6.

[2020-02-23 15:36] #193 closed

[2020-02-23 17:31] EvanHahn commented on #208
There hasn't been an update in this issue for some time so I'm going to close it. Let me know if you want me to reopen!

[2020-02-23 17:31] #208 closed

[2020-03-04 13:50] BruneXX commented on #213
Hi @victor-perez I know this task is closed @EvanHahn but I was realized that victor used helmetjs in his example, is there any constraint to use helmetjs in angular universal? also, will be a good practice? I can't found any informaton related to that. Thanks.

[2020-03-04 15:49] EvanHahn commented on #213
I'm not aware of such a constraint but am unfamiliar with Angular Universal. I'm going to leave this issue closed but anyone can feel free to chime in.

[2020-03-20 20:54] EvanHahn opened #215 "Remove noCache from "mainline" Helmet"
In an effort to focus this project's scope, I'm trying to make sure that Helmet only focuses on HTTP response headers that are strictly related to security. While `nocache` is useful, it's not strictly security-related in my eyes, so I'm removing it.

**This functionality isn't going away. It's just moving to a separate module, `nocache`. You can find it [on npm](https://www.npmjs.com/package/noca

[2020-03-22 21:53] EvanHahn commented on #189
I believe this is resolved. Let me know if that's not the case.

[2020-03-22 21:53] #189 closed

[2020-03-23 09:46] unbalanced commented on #215
Hey, can you refer me to information on why it was removed from the "default" settings and will be removed in Helmet 4?

Thanks

[2020-03-23 14:48] EvanHahn commented on #215
In an effort to focus this project's scope, I'm trying to make sure that Helmet only focuses on HTTP response headers that are strictly related to security. While `nocache` is useful, it's not strictly security-related in my eyes, so I'm removing it.

This functionality isn't going away. It's just moving to a separate module, `nocache`.

[2020-03-25 21:25] JEstradaDev commented on #215
hi!! could you add the link for `nocache` module or new documentation?? please

thanks.

[2020-03-25 22:45] EvanHahn commented on #215
@JEstradaDev Good idea. I've added more information to the description of this issue.

[2020-03-26 21:56] EvanHahn commented on #209
I did some exploring today and I think there's another option that may work for TypeScript users: the `Parameters` type. Here's a sketch of what I came up with (emphasis on the fact that it's a sketch):

[code]

@benhjames What do you think about this?

[2020-03-26 22:26] benhjames commented on #209
I think this has the same issue as in the original post (I too was going in the direction of using the `Parameters` type!)

[2020-03-26 23:13] EvanHahn commented on #209
I was able to get this to type-check when I tried it (though I'd want to verify that it totally works). What problems did you run into when using `Parameters`?

[2020-04-08 09:46] jraoult commented on #176
@EvanHahn I found this ystd, it might help (https://youtu.be/vfAHa5GBLio?t=1217)

[2020-04-08 14:10] Malvoz commented on #177
@EvanHahn I've updated https://github.com/helmetjs/helmet/issues/177#issuecomment-483816720 with some links that might be helpful.

[2020-04-09 17:45] ThunderSon opened #230 "X-XSS-Protection: header should be disabled by default"
Following a decision by Google Chrome developers to disable Auditor, developers should be able to disable the auditor for older browsers and set it to `0`.
The `X-XSS-PROTECTION` header was found to have a multitude of issues, instead of helping the developers protect their application.
The following discussion describes the issue at hand with more references: https://github.com/OWASP/CheatSheetSe

[2020-04-15 09:41] BartTK commented on #134
I was encountering the same problems. During development, my requests were going through a webpack dev server proxy. Bypassing this proxy solved the issue.

[2020-04-16 22:56] Malvoz commented on #177
And now the Chrome team has released an article on COOP + COEP (https://github.com/helmetjs/helmet/issues/198): https://web.dev/coop-coep/.

[2020-05-02 07:09] pradeep-rajput13 commented on #134
I faced the same issue. But I had one observation that this issue used to occur only on the Chrome browser. When I checked in safari I didn't get the x-powered-by header. Even through curl, I didn't get the x-powered-by header. So might be some issue with chrome version. And the issue was only with 'x-powered-by' header not for other headers.

[2020-05-08 03:19] sahil290791 commented on #167
@NathanCH Let's say I have **X-Frame-Options** as SAMEORIGIN and CSP's **frame-ancestors** directive has multiple domains whitelisted as my current requirement to load domain xyz in domain abc. How can I solve this problem?

[2020-05-08 16:02] EvanHahn commented on #167
@sahil290791 According to [the spec](https://w3c.github.io/webappsec-csp/2/#frame-ancestors-and-frame-options), `frame-ancestors` takes priority.

[2020-05-15 15:30] Paul75 commented on #215
When I do like this :
const noCache = require('nocache')
// ...
app.use(noCache())

and remove in the securityNoCacheMiddleware the .noCache() that when I do request get error "alreadt set header ...."

thanks

[2020-05-19 09:25] teodem opened #218 "Issue with Helmet and Express 4.17"
Hi guys,
for a university project we are currently completing a web-app (we are using Express).
As I'm interested in the security issue, I wanted to make sure that our app is safe with Helmet.
Unfortunately, despite referring to the documentation, it doesn't seem to work.
The headers are exactly the same, without any variation.

<img width="791" alt="Schermata 2020-05-19 alle 11 20 14" src="https:

[2020-05-19 14:34] EvanHahn commented on #218
I suspect this is an issue with your Express server and not Helmet, but let's try to debug.

I see `X-Powered-By: Express` in your response headers. Helmet disables that header by default, but you also seem to disable it on line 36 of the code you attached:

[code]

That makes me think that this isn't a problem with Helmet, but a problem with how your app is being used. (I also think I'd be gettin

[2020-05-25 10:00] deser opened #219 "Add require-trusted-types-for directive"
See here for description: https://web.dev/trusted-types/#create-a-trusted-type-policy

[2020-05-25 12:32] EvanHahn commented on #219
This is a duplicate of https://github.com/helmetjs/csp/issues/104, so I'm going to close this issue and move discussion there.

In short: I'm going to add this in the next major version of Helmet, which I hope to release in the next month.

[2020-05-25 12:32] #219 closed

[2020-05-27 22:04] EvanHahn commented on #218
I haven't heard back about this in a week and I don't think this is a problem with Helmet, so I'm going to close. Let me know if that's a problem—I'm happy to reopen.

[2020-05-27 22:04] #218 closed

[2020-06-12 17:25] EvanHahn commented on #180
This was closed in #192 and merged into the `4.x` branch. I'm closing this because it will be released in Helmet 4 (though it's not technically released yet).

[2020-06-12 17:25] #180 closed

[2020-06-12 17:31] EvanHahn commented on #215
This was done in ca483bdd0cada1c2304dc4a76d7eca6cbbb06656 and merged into the upcoming v4 branch (see #197).

[2020-06-12 17:31] #215 closed

[2020-06-13 16:42] emregency opened #222 "Is 3.23.0 a breaking change?"

[2020-06-13 16:46] EvanHahn commented on #222
It shouldn't be. `helmet.featurePolicy` was deprecated, but it should still work until the next major version.

Did you encounter any problems?

[2020-06-13 17:23] emregency commented on #222
I run all my tests. Works perfect. Sorry for the noise.

[2020-06-13 17:23] #222 closed

[2020-06-13 20:03] EvanHahn commented on #222
No problem!

[2020-06-15 20:10] ThunderSon opened #223 "Fetch Metadata Browser Headers"
# Feature Request

## Adding a new header

## Is the header supported by any user agent? If so, which?

Chrome v76 and chromium-based browsers v79. Firefox is working to release this soon.

## What does it do?

It's a resource isolation policy that the browser sends to the server in order to provide more context and allow the server to allow or deny the content access. Attacks such as CSRF, XSSI,

[2020-06-16 13:01] EvanHahn commented on #223
Helmet is only concerned with HTTP *response* headers, so I believe these headers are out of scope. If that's incorrect, let me know and I'll reopen this issue.

I'm happy to take a look at an Express package that deals with this, if that review would be helpful.

[2020-06-16 13:01] #223 closed

[2020-06-16 13:33] ThunderSon commented on #223
That's true. These are headers that the browser will receive (such as origin, host, etc.). Thank you for pointing that out!

Would you be able to guide me into the appropriate party that help with this?
Thanks @EvanHahn 😄

[2020-06-16 17:16] EvanHahn commented on #223
Not sure. But if you'd like help on an Express module, let me know and I can take a look.

[2020-06-24 08:34] rolanday commented on #134
Just in case anybody else runs into the same problem, also found needed to hard reset cache and reload page as @HristijanStrkovski indicated.

[2020-06-29 19:49] EvanHahn opened #224 "X-Powered-By: remove the `setTo` option"
The `X-Powered-By` middleware should remove the `setTo` option in the next version.

- We can dramatically simplify the middleware (at [`middlewares/x-powered-by/index.ts`](https://github.com/helmetjs/helmet/blob/936cd27c91364a91d108a9fe31b81c92fb423338/middlewares/x-powered-by/index.ts)). We should be able to completely remove `XPoweredByOptions` and make `xPoweredBy` take no arguments.
- We shou

[2020-06-29 19:57] EvanHahn opened #225 "Expect-CT: put max-age first"
It's a little weird that `max-age` comes second after `enforce`:

https://github.com/helmetjs/helmet/blob/936cd27c91364a91d108a9fe31b81c92fb423338/middlewares/expect-ct/index.ts#L24-L28

We should reorder these lines and update the tests.

[2020-06-29 20:54] EvanHahn commented on #146
This was done in ab556c272f85c84f34ccc04d7417f3412e6afd39, which was merged into the `4.x` branch. See #197 for more.

[2020-06-29 20:54] #146 closed

[2020-06-29 20:55] EvanHahn commented on #146
This was done in ab556c272f85c84f34ccc04d7417f3412e6afd39, which was merged into the `4.x` branch. See #197 for more.

[2020-07-08 16:11] EvanHahn opened #227 "Fix npm scripts on Windows"
Some of the npm scripts won't work on Windows. We should fix that.

[2020-07-10 01:45] EvanHahn commented on #227
Addressed in a4e02c56df299b31154b07a1c9553bfe6defe378.

[2020-07-10 01:46] EvanHahn commented on #224
Closed in #226.

[2020-07-10 01:46] #224 closed

[2020-07-10 13:51] EvanHahn opened #229 "Fix `contributors` in package.json"
Some contributors have gotten lost. We should fix that.

(I'll take care of this. Just want to make sure to track it in an issue.)

[2020-07-10 13:54] EvanHahn commented on #229
Realizing this isn't actually an issue...closing.

[2020-07-10 13:54] #229 closed

[2020-07-10 17:10] EvanHahn commented on #231
Addressed in 788d69bebb41d3e62cae76bdf1c440f6d03e45de. To be released in version 4 (see #197).

[2020-07-10 17:10] #231 closed

[2020-07-10 17:10] EvanHahn commented on #232
Addressed in 788d69bebb41d3e62cae76bdf1c440f6d03e45de. To be released in version 4 (see #197).

[2020-07-10 17:10] #232 closed

[2020-07-26 09:03] CyberZujo commented on #225
[code]
Did you mean this? Is there any constraint for the max age or just literally to reorder lines?

[2020-07-27 13:23] EvanHahn commented on #225
Yup, that's it!

You will probably need to update the tests, too.

[2020-07-28 07:56] CyberZujo commented on #225
` it("can enable enforcement", async () => {
    await check(expectCt({ enforce: true }), {
      "expect-ct": "enforce, max-age=123",
    });
  });

  it("can explicitly disable enforcement", async () => {
    await check(expectCt({ enforce: false }), {
      "expect-ct": "max-age=123",
    });
  });
`
I've found these cases and the previous value of max-age was set to 0, probably now since it's

[2020-07-28 13:37] EvanHahn commented on #225
I'd make the change and then run `npm test` to see what breaks, and then fix those tests. At least one of the tests you showed should change, though it's possible that there are others.

I can't assign this issue to you (GitHub doesn't allow me to) but feel free to make a pull request.

[2020-07-28 16:17] EvanHahn commented on #225
@CyberZujo I'm planning to release the next major version of Helmet on Sunday, August 2 (a few days from now). Would you mind waiting until then? No problem if not, but I think it will be less work if we wait.

[2020-07-29 05:57] CyberZujo commented on #225
Yes, no problem, I'll wait until then and then I'll make the PR.

[2020-07-29 13:59] EvanHahn commented on #230
This has been added to Helmet v4, which I plan to release this Sunday, 2020-08-02.

You can install the release candidate with `npm install helmet@next` if you want to try it out.

[2020-07-29 15:04] EvanHahn opened #234 "Permissions-Policy"
The `Feature-Policy` header has been deprecated in favor of `Permissions-Policy` and `Document-Policy`. I think it's too early to decide what Helmet should do with these headers, but I wanted to make an issue to track it.

See <https://github.com/helmetjs/feature-policy/issues/10> for a little more discussion.

[2020-08-02 05:32] Hongbo-Miao commented on #234
Just added the reference for "Feature-Policy header has been renamed to Permissions-Policy" here.

Had a hard time to find it. Saving some time for future people.

https://w3c.github.io/webappsec-permissions-policy/#introduction

<img width="898" alt="image" src="https://user-images.githubusercontent.com/3375461/89116272-86e42a80-d4c4-11ea-90d3-7b7e527a6568.png">

[2020-08-02 15:37] EvanHahn commented on #209
TypeScript types were added to Helmet in version 4, which you can install with `npm install helmet@4`. Closing this issue because I believe this is resolved, but feel free to comment or open a new issue.

[2020-08-02 15:37] #209 closed

[2020-08-02 15:37] EvanHahn commented on #188
TypeScript types were added to Helmet in version 4, which you can install with `npm install helmet@4`. Closing this issue because I believe this is resolved, but feel free to comment or open a new issue.

[2020-08-02 15:37] #188 closed

[2020-08-02 15:41] EvanHahn commented on #175
This header is enabled by default in `helmet@4`.

[2020-08-02 15:41] #175 closed

[2020-08-02 16:56] EvanHahn commented on #225
Helmet 4 (and `expect-ct@1.0.0`) was just released, so feel free to go ahead with your change. No rush, though!

[2020-08-02 16:59] EvanHahn commented on #230
Helmet v4 (and `x-xss-protection@2`) was just released, which disables this header.

Thanks for reporting and for discussing this with me.

[2020-08-02 16:59] #230 closed

[2020-08-02 19:42] zen0wu opened #235 "Issues with TypeScript imports in 4.0.0"
Code like below overrides the exported object, which causes `default` being missing from every module.

[code]

For example, inside `index.ts`, add `console.log("wat", expectCt);` under the import, and we'll see it's `undefined`.

[2020-08-02 20:29] MarluanEspiritusanto opened #236 "Expression is not callable in 4.0.0"
After updating to 4.0.0 version the helmet middleware configuration throws an error:

[code]

This is the code Im trying to run:

[code]

[2020-08-02 20:31] EvanHahn commented on #236
What does your `tsconfig.json` look like, if you can share it?

[2020-08-02 20:31] EvanHahn commented on #235
What does your build setup look like? I didn't experience this problem when testing things, but I may have made a mistake.

Also: are you using `helmet` or `helmet-csp`?

[2020-08-02 22:05] MarluanEspiritusanto commented on #236
@EvanHahn Here it is
[code]

[2020-08-02 23:19] EvanHahn commented on #236
Would you be willing to enable `esModuleInterop`, if that fixes your problem?

[2020-08-03 00:16] zen0wu commented on #235
I'm using `helmet`.

I believe this issue is universal. For example, create a `test.ts` in the root with
[code]

It outputs `undefined`.

[2020-08-03 00:50] EvanHahn commented on #235
A couple of questions to help me debug:

1. What does your `tsconfig.json` look like? Specifically, what is the value of `esModuleInterop`?
2. Do you still have `@types/helmet` installed?

[2020-08-03 05:33] Hongbo-Miao commented on #235
Seems like a TypeScript config issue.

I just upgrades to helmet 4.0.0, the code is at https://github.com/Hongbo-Miao/hongbomiao.com/blob/master/server/src/middlewares/helmet.middleware.ts
tsconfig.json is at https://github.com/Hongbo-Miao/hongbomiao.com/blob/master/server/tsconfig.json

Hopefully it helps.

[2020-08-03 05:33] Hongbo-Miao commented on #236
Seems like a TypeScript config issue.

I just upgrades to helmet 4.0.0, the code is at https://github.com/Hongbo-Miao/hongbomiao.com/blob/master/server/src/middlewares/helmet.middleware.ts
tsconfig.json is at https://github.com/Hongbo-Miao/hongbomiao.com/blob/master/server/tsconfig.json

Hopefully it helps.

[2020-08-03 06:45] joshuajung commented on #236
I'm facing the same issue, and unfortunately `esModuleInterop` does not seem to fix it - still getting the `no call signatures` error. My full tsconfig.json, with TS 3.9.7:

[code]

[2020-08-03 12:17] anthony-telljohann commented on #236
I was able to resolve this by ignoring typescript errors before using `helmet`

[code]

I believe this is because the default `helmet` export has an incorrectly defined type.

[2020-08-03 12:18] anthony-telljohann commented on #235
I was able to resolve this by ignoring typescript errors before using `helmet`

[code]

I believe this is because the default `helmet` export has an incorrectly defined type.

[2020-08-03 14:44] EvanHahn commented on #236
I'd like to fix the Helmet types.

Helmet is a CommonJS module (in other words, it uses `module.exports` and not `export ...`). Therefore, without `esModuleInterop`, I would expect users to do something like this:

[code]

Though I'm not an expert at how TypeScript modules work.

[2020-08-03 14:45] EvanHahn commented on #236
This issue looks the same as #235, so I'm going to close this issue and move discussion there.

[2020-08-03 14:45] #236 closed

[2020-08-03 14:46] EvanHahn commented on #235
I'd like to fix the Helmet types.

Helmet is a CommonJS module (in other words, it uses `module.exports` and not `export ...`). Therefore, without `esModuleInterop`, I would expect users to do something like this:

[code]

With `esModuleInterop`, I'd expect something like this to work:

[code]

I'm not an expert at how TypeScript modules work, nor am I certain why some people are having problems a

[2020-08-03 14:57] EvanHahn commented on #185
Finally got around to this and put it in a wiki page, ["How to use Helmet without Express"](https://github.com/helmetjs/helmet/wiki/How-to-use-Helmet-without-Express).

I'm going to close this issue because I think I've addressed your issue, but feel free to comment further.

[2020-08-03 14:57] #185 closed

[2020-08-04 21:05] jnardone opened #237 "CSP: `defaultSrc` should not be required"
The new CSP module says it is a lot less restrictive on policy definition, but it added some new restrictions.

defaultSrc now apparently required, though if you follow guidelines like Google's strict CSP, it is not necessary.  https://csp.withgoogle.com/docs/strict-csp.html

If you read the specifications for V2 https://www.w3.org/TR/CSP2/ and V3 https://www.w3.org/TR/CSP3/ there is no mention th

[2020-08-04 22:11] EvanHahn commented on #237
My understanding, which may be wrong, is that a missing `default-src` directive is the same as `default-src *`. I wanted to make sure that Helmet's users explicitly opted into this behavior because I feel that it's a little dangerous.

Would you be okay setting `default-src` to `*`? (Do I misunderstand the way this directive works?)

As another option, you can avoid Helmet's CSP module entirely to

[2020-08-05 00:33] jnardone commented on #237
I mean, I'm using other parts of helmet now, would rather keep using it (though the other change where  you can no longer use a function inside a directive, e.g. for nonce generation, is a step backwards as well I feel.)  I realize I can set the headers myself.

A `*` for default-src does not cover everything; you would still have to explicitly also allow things like `data:` and `blob:` and some o

[2020-08-05 10:11] tobeno commented on #235
To my understanding you would need to export helmet using `export = helmet` (similar to what was done in the old 3.x.x typings in https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/helmet/index.d.ts) in your index.ts file. This would replace both the default export and the module.exports. Otherwise `import helmet = require('helmet')` (or `import * as helmet from 'helmet'`) will n

[2020-08-05 22:00] EvanHahn commented on #237
I didn't realize that—thanks for sending.

I made a judgment call here: I want people to explicitly say "I'm doing something dangerous". This was inspired, in part, by [React's `dangerouslySetInnerHTML` behavior](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml).

Of course, that's subjective. Is it truly dangerous to omit a `default-src`? That depends on a variety of factors, an

[2020-08-05 22:11] UziTech opened #238 "CSP: report-to option"
Is there a way to add a [`report-uri`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri) or [`report-to`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-to) with [`report-endpoints`](https://w3c.github.io/reporting/#header) header?

It looks like `report-uri` is deprecated in favor of `report-to` but Firefox and

[2020-08-05 22:41] Hongbo-Miao opened #239 "Remove the default `block-all-mixed-content;`?"
Currently I saw in readme,

However, based on https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/block-all-mixed-content

if I understand correctly, just wonder should we remove the default `block-all-mixed-content` since `upgrade-insecure-requests` is provided? Thanks!

[2020-08-06 02:11] EvanHahn commented on #238
I'm unfamiliar with the `Reporting-Endpoints` header, but would something like this work for you?

[code]

[2020-08-06 03:33] UziTech commented on #238
It should probably be separate from the directives.

[code]

I'm unfamiliar with the `report-to` and `Reporting-Endpoints` as well. I just learned about them yesterday and it looks a little too new to be stable. In fact some of the examples i've seen show a [`Report-To` header](https://developers.google.com/web/updates/2018/09/reportingapi#header) instead of `Reporting-Endpoints`.

[2020-08-06 04:24] UziTech commented on #238
Looks like the `Report-To` header was changed to `Reporting-Endpoints` because they take different types of values.

https://github.com/w3c/reporting/issues/177#issuecomment-532347492

[2020-08-06 04:27] UziTech commented on #238
I guess maybe it should be in directives according to https://content-security-policy.com/

[2020-08-06 04:29] UziTech commented on #238
will the code you provided work right now or are the directives hard coded?

[2020-08-06 04:30] UziTech commented on #238
and is there a way to append directives or will I need to specify the defaults as well?

[2020-08-06 12:34] EvanHahn commented on #238
In Helmet 4 (which was recently released), directives are not hard-coded. That means you can supply any directive you want and it should work.

I expect my code snippet will be a good starting point and should work for you, but I'm happy to help debug.

[2020-08-06 14:17] mercteil opened #240 "How to set nonce in helmet >4.0?"
In version 3 I could set nonce from `res.locals` like this:

[code]

In 4.0 I get an error when providing a function for setting nonce:

`Error: Content-Security-Policy received an invalid directive value for "script-src"`

So the question is how to set nonce in helmet 4.0 ?

[2020-08-06 14:27] mercteil commented on #240
.. apparently by picking and forwarding the context manually

[code]

[2020-08-06 15:28] sehrope commented on #235
+1 for named exports. They play nice with editor auto completion as well.

[2020-08-06 18:03] einfallstoll commented on #240
I don't like this. Also, this should have been mentioned in the changelog.

[2020-08-06 20:54] EvanHahn opened #241 "Add Helmet 4 migration guide"
Helmet 4 was recently released, and some people are having some trouble with it. (Nothing too major, I hope, but there were some breaking changes.)

I plan to create a migration guide for Helmet 4, which I'll track in this issue.

[2020-08-06 20:57] EvanHahn commented on #240
@mercteil That's exactly right. Here's [a wiki page](https://github.com/helmetjs/helmet/wiki/Conditionally-using-middleware#i-want-to-use-some-middleware-with-different-options) describing how to do that in more detail.

@einfallstoll Good point. I've added it to the changelog in c01ad1e37c964df0108c37da4dd32af4630df95e.

This has made me realize that I need to create a migration guide. See #241 t

[2020-08-06 20:57] #240 closed

[2020-08-06 20:57] trevordmillerwork commented on #241
This would be very helpful. On v3 we had `app.use(helmet())` and after upgrading to v4 get a console error of `Refused to execute a script because its hash, its nonce, or 'unsafe-inline' does not appear in the script-src directive of the Content Security Policy` and `Failed to load resource: An SSL error has occurred and a secure connection to the server cannot be made.` which I assume are related

[2020-08-06 21:00] EvanHahn commented on #239
I'll look into this in the next few days.

[2020-08-06 21:00] EvanHahn commented on #238
I believe this issue has been solved so I'm going to close, but let me know if that's wrong and I will reopen.

[2020-08-06 21:00] #238 closed

[2020-08-06 22:27] simevidas opened #242 "TypeError: rawDirectiveValue is not iterable"
I just upgraded to version 4.0.0, and now my server logs this error:

[code]

My setup is as follows:

[code]

I’m investigating what’s going on here.

[2020-08-06 23:21] EvanHahn commented on #242
This is likely because `upgradeInsecureRequests` is `true`. To set a directive with no values, try `upgradeInsecureRequests: []`.

Also, as another note, `featurePolicy` was deprecated (because the header has been deprecated). If you still need this behavior, try [the `feature-policy` package](https://github.com/helmetjs/feature-policy).

I'm going to close this issue because I believe that's the

[2020-08-06 23:21] #242 closed

[2020-08-07 01:02] simevidas commented on #242
Thank you for the quick response. I am no longer getting the error after changing the line to `upgradeInsecureRequests: []` and removing the `featurePolicy` field in its entirety.

[2020-08-07 01:16] EvanHahn commented on #242
Great! If there's anything else I can help with, feel free to open a new issue.

[2020-08-07 16:14] EvanHahn commented on #235
Is there a way to do `export = helmet` and still export the types, such as `HelmetOptions`? I think the answer is "no".

[2020-08-08 15:45] EvanHahn commented on #241
Made a first draft of this. See the [Helmet 4 upgrade guide](https://github.com/helmetjs/helmet/wiki/Helmet-4-upgrade-guide).

I'm going to close this issue for now, but will continue to make amendments to that page as new issues come in.

[2020-08-08 15:45] #241 closed

[2020-08-09 05:58] XhmikosR commented on #240
Agreed that this was pretty handy and simpler than the current solution. I haven't updated to helmet 4.0.0 due to this issue, so if it's not too much work, I'd like the ability to use functions back too 🙂

[2020-08-09 06:09] XhmikosR commented on #227
@EvanHahn FYI there are a few more Windows npm script issues:

1. `rm` isn't available on Windows. You could use rimraf or another small cross-platform package
2. `./bin/build-middleware-package.js` can't work because shebangs don't work on Windows; use `node ./bin/build-middleware-package.js` instead

[2020-08-09 14:32] EvanHahn commented on #227
@XhmikosR Thanks for letting me know.

Would you like to open pull requests for these? (I'd prefer this as two small PRs instead of one big one, if possible.)

If not, I can get around to it.

[2020-08-09 17:27] EvanHahn opened #243 "Content-Security-Policy: reimplement directive values as functions"
In Helmet version 4, I removed the ability to use functions in Content Security Policy directive values. Several issues (#240, https://github.com/fastify/fastify-helmet/issues/89) arose as a result of this, and I don't think the deprecation was worth it.

I plan to re-add this feature in the next few days.

[2020-08-09 17:31] EvanHahn commented on #240
This issue has been troublesome for a lot of people and I'm going to re-add the behavior to Helmet, likely in version 4.1.0. See #243 to follow my progress.

[2020-08-09 17:39] einfallstoll commented on #243
Out of curiosity: Why was it removed in the first place?

[2020-08-09 18:10] XhmikosR commented on #227
I can take a stab at it in the next days. Would you be interested in switching to GitHub Actions and test Windows too?

[2020-08-09 19:09] thepostmillennial commented on #235
I got the same issue when I upgrade the helmet from **3.23.3** to **4.0** in my NestJS typescript project. any idea how to resolve this issue?

[2020-08-09 19:15] thepostmillennial commented on #235
here is the working solution:

`  app.use(helmet) //  app.use(helmet()) =>  app.use(helmet)`

[2020-08-09 23:18] zen0wu commented on #235
re named exports - They're generally a good idea IMO. Since this is a major version, it's a good reason to justify the change to named exports?

[2020-08-10 14:43] EvanHahn commented on #243
This will be fixed in `helmet@4.1.0`, which you can test out with `npm install helmet@4.1.0-rc.1`. You can see the v4.1.0 pull request at #245 for more information about that release.

@einfallstoll It was removed for a few reasons. Again, I regret the removal, but here was my thought process:

1. Getting out of the business of "conditional" behavior. I received a number of issues about conditiona

[2020-08-10 14:44] EvanHahn commented on #240
This feature will be added to Helmet version 4.1.0. You can try it out today with `npm install helmet@4.1.0-rc.1`—let me know if it doesn't work for you, and follow along with the release at #245.

[2020-08-10 14:47] EvanHahn commented on #237
I've changed my mind on this part and plan to add this back. You can try out the release candidate today (`npm install helmet@4.1.0-rc.1`), and follow along with the release at #245. (This nonce generation stuff is unrelated to this issue, so let's discuss it on #243.)

[2020-08-10 14:50] EvanHahn commented on #227
Not yet—let's keep things on Travis for now.

[2020-08-10 21:06] Hongbo-Miao commented on #238
Hi @UziTech check this early thread https://github.com/helmetjs/helmet/issues/184

and two `report-to` related packages mentioned inside:
https://www.npmjs.com/package/report-to
https://www.npmjs.com/package/network-error-logging

[2020-08-11 04:14] UziTech commented on #238
Thanks @Hongbo-Miao Those packages seem to be exactly what I need :tada:

[2020-08-11 17:03] czzonet opened #246 "Seriously?4.0.0 do not work in typescript."
## Error message

[code]

## Use code

[code]

## Setting

` "esModuleInterop": false`

## Bubble

There are something wrong in types export,I will look after it later.

[2020-08-11 17:10] czzonet commented on #246
Look,why you want export HelmetOptions?

It will work like this:

## index.d.ts

Use simple `export=` and remove other export.

[code]

## Usage

[code]

## Conclusion

ES6 export is good, but take care of not using well.

[2020-08-11 19:09] EvanHahn commented on #246
Thanks for reporting. This is a duplicate of #235, so let's move discussion there.

[2020-08-12 01:15] EvanHahn commented on #235
This should be fixed in the next version. Please try it out with `npm install helmet@4.1.0-rc.2` and let me know what you think. Once I get a few successful reports, I'll release it.

[2020-08-12 11:25] razorness commented on #235
[code]

Tested with TypeScript `v3.9.7` and NestJS:
[code]

Looks good to me. Thanks!

[2020-08-12 13:22] czzonet commented on #235
First thing is make it work, optimizing the type export is the next. :)

[2020-08-12 13:23] EvanHahn commented on #235
@czzonet What do you mean?

[2020-08-12 14:20] czzonet commented on #235
It is better if it can work like this? @EvanHahn

[code]

[2020-08-12 17:40] pietrzakadrian commented on #235
change the helmet version to this: ` "helmet": "4.1.0-rc.2",` in package.json

[2020-08-12 18:40] EvanHahn commented on #235
@czzonet I don't think that's possible, unfortunately. It's arguably a breaking change, but it only affects TypeScript users where things weren't working well anyway.

@pietrzakadrian What do you mean? Is there something wrong with Helmet, or are those instructions for other Helmet users?

[2020-08-12 23:21] Stegosource opened #247 "Helmet has no call signature"
I have some type checking setup on my project and I'm getting a weird linting error.

`const helmet: typeof import(".../node_modules/helmet/dist/index")`

With the error being:
[code]

So far I'm just getting around this by casting the type to `any`. That works fine, but thought I might point it out here.

[2020-08-12 23:26] EvanHahn commented on #247
This looks like a TypeScript error that's being discussed in #235, so I'm going to close this issue.

You should be able to fix this in the next version which should be released soon. You can try it out today with `npm install helmet@4.1.0-rc.2`.

Hope this helps!

[2020-08-12 23:26] #247 closed

[2020-08-12 23:39] Stegosource commented on #247
Oh yeah looks like it. Sorry, I did a search and nothing came up. Thanks for taking a look

[2020-08-13 00:46] EvanHahn commented on #247
No worries at all. Feel free to open a new issue if anything else comes up, and I'd appreciate your feedback on the release candidate.

[2020-08-13 13:35] EvanHahn commented on #239
Because this is a breaking change (and not _clearly_ wrong to me), I don't plan to address this.

I'll revisit this default (and all defaults) in the next major version, and I'll keep this issue in mind. I don't expect to release a new major version in 2020, though plans can change.

Thanks for bringing this up, and feel free to open a new issue if you have any other feedback or run into any other

[2020-08-13 13:35] #239 closed

[2020-08-13 15:12] Hongbo-Miao commented on #239
Got it, thanks for looking into it, @EvanHahn !

[2020-08-13 23:24] anthony-telljohann commented on #235
@EvanHahn After installing `helmet@4.1.0-rc.2`, I was able to fix the typescript errors by importing the default export:
[code]

[2020-08-14 10:52] sehrope commented on #235
+1 for helmet@4.1.0-rc.2. Typing issues are resolved.

For anybody that was previously importing the `HelmetOptions` interface, e.g. you're assigning the options to a variable rather than directly invoking the middleware function, you can do it by extracting the type from the middleware arg:

[code]

[2020-08-15 13:46] EvanHahn commented on #235
Planning to release `helmet@4.1.0` soon.

[2020-08-15 14:12] #235 closed

[2020-08-15 14:12] #243 closed

[2020-08-15 14:19] EvanHahn commented on #235
This has been fixed in `helmet@4.1.0`. Please let me know if you run into any issues!

[2020-08-15 14:24] EvanHahn commented on #243
This has been released in `helmet@4.1.0` and `helmet-csp@3.1.0`.

[2020-08-15 18:23] nax3t commented on #237
Perfect, thanks!
Adding a lot of urls can get messy in a single line string so I included some additional code for including urls in an array:

[code]

[2020-08-16 10:46] joshuajung commented on #235
Works like a charm. For everyone running into issues, make sure to remove any earlier installations of `@types/helmet`.

[2020-08-16 15:12] Lionad-Morotar commented on #111
Hi，I wander what kind of security issues does DNS-Prefetch-Control policy related to...

[2020-08-16 17:03] EvanHahn commented on #111
@Lionad-Morotar It mostly exists as a privacy benefit to users. Does that help?

[2020-08-16 18:17] molaeiali commented on #237
I'm loading a simple [apiDoc](https://apidocjs.com/) static page on express with helmet 4.1.0 and getting this error with csp enabled on helmet
[code]
Don't konw if it's related or not. In version 3.22.1 of helmet it wasn't a problem.

![Screenshot from 2020-08-16 22-45-39](https://user-images.githubusercontent.com/12999682/90341135-4206da80-e012-11ea-97ed-7270e0439751.png)

[2020-08-16 18:23] EvanHahn commented on #237
@jnardone I think we've solved your initial problem, but let me know if that's wrong and we can reopen.

@molaeiali Your issue seems unrelated to this one. Would you mind creating a new issue?

[2020-08-16 18:28] molaeiali commented on #237
Of course, thanks

[2020-08-16 18:30] molaeiali opened #249 "CSP Preventing page from loading "script-src" error"
I'm loading a simple [apiDoc](https://apidocjs.com/) static page on express with helmet 4.1.0 and getting this error with csp enabled on helmet
[code]
In version 3.22.1 of helmet it wasn't a problem.

Happy to provide any more info if needed, I don't know what I should mention more.

![Screenshot from 2020-08-16 22-45-39](https://user-images.githubusercontent.com/12999682/90341340-15ec5900-e014-11

[2020-08-16 18:44] EvanHahn commented on #249
My guess: this is happening because Helmet 4 has a Content Security Policy enabled by default. You have two options:

1. Set up a Content Security Policy for your site.
1. Disable the Content Security Policy.

Because it looks like you need to do dangerous things with `Function()`, I suspect it's okay to disable the CSP. You'd do that like this:

[code]

See [this section of the Helmet 4 upgrade g

[2020-08-16 18:44] #249 closed

[2020-08-17 05:22] sonu-sonam opened #250 "Unsafe-eval blocked by CSP in next/modules"
When using helmet, I get this error in nextjs modules.
![Screen Shot 2020-08-17 at 3 19 17 pm](https://user-images.githubusercontent.com/23254380/90359768-21d02d80-e09d-11ea-86af-41443329987a.png)

Is there anything else need to be done besides setting up in expressjs?
![Screen Shot 2020-08-17 at 3 21 49 pm](https://user-images.githubusercontent.com/23254380/90359857-622fab80-e09d-11ea-93da-00decf

[2020-08-17 05:40] Lionad-Morotar commented on #111
Hi，感谢回应。

我在 MDN 中找到一些关于 DNS prefetch 的描述：https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-DNS-Prefetch-Control

它提到：“打开 DNS prefetch 之后，在图片数量较多的页面，能带来至少 5% 的加载速度提升”，但并没有涉及到安全问题。
您能举个例子，详细解释一下因 DNS prefetch 导致用户隐私问题出现的原因或场景吗？

---

Hi, thanks for reply.

I found some descriptions of DNS prefetch in MDN. It mentions that "after opening DNS prefetch, the page loading speed can be increase

[2020-08-17 13:10] EvanHahn commented on #250
This is probably because Helmet 4 has a Content Security Policy enabled by default. You have two options:

1. Set up a Content Security Policy for your site.
1. Disable the Content Security Policy.

Disabling the CSP is the easiest, but is less secure. Do it like this:

[code]

See [this section of the Helmet 4 upgrade guide](https://github.com/helmetjs/helmet/wiki/Helmet-4-upgrade-guide#there-is-